[2018-09-16 16:06] eborden commented on #350
@okeuday the `MkSocket` constructor is deprecated, however we are still exposing the `mkSocket` function. There are some changes though, `mkSocket` has gotten a lot simpler.

In the `2.x` branch of `network` it looked like this:
[code]

In `3.x` it looks like:
[code]

re-exported here:
https://github.com/haskell/network/blob/master/Network/Socket.hs#L139

defined here:
https://github.com/haskell/n

[2018-09-16 19:52] okeuday commented on #350
@eborden Thank you for mentioning the `3.x` branch direction.  I am glad that `mkSocket` will remain.

[2018-09-16 19:52] #350 closed

[2018-09-19 09:50] hasufell commented on #275
You should provide an upgrade path. Types and functionality are different. The deprecation notice is not very descriptive either.

[2018-09-26 15:57] vshabanov commented on #275
What to use instead of `getHostName` now? And how to resolve entries from /etc/hosts only without `getHostEntries`?

[2018-09-27 01:07] kazu-yamamoto commented on #275
@hasufell Many functions here should be replaced by `getAddrInfo` and `getNameInfo`.

[2018-09-27 01:09] kazu-yamamoto commented on #275
@vshabanov `getHostName` is not network-related, so I'm not sure that it should be included in `network`.

@Mistuke I think that `gethostname()` is provided in Windows. Does the `network` package make use of it currently?

[2018-09-27 01:12] kazu-yamamoto commented on #275
@vshabanov "/etc/hosts" is Unix-specific and the `network` package is cross-platform. So, `getHostEntreis` should be provided in another pacakge.

[2018-09-27 11:09] vshabanov commented on #275
As I understand "/etc/hosts" exists on all systems on which Haskell is currently running. And there are many more functions in Network.BSD that other people could use and that doesn't work via getaddrinfo/getnameinfo (get{Network|Service|Protocol}{Entries|...}, e.g. wrappers for all other functions from netdb.h). Why one function from netdb.h is allowed but others are not? And it's not right to re

[2018-09-28 06:55] Mistuke commented on #275
Yeah Windows does have it, though I don't think network makes use of it, just provided it. But there are other packages like `hostname` that do as well.  I don't know about the other functionality, but there are `resolv` and `windns` for dns related things that `cabal` uses.

That's a bold statement... and easily proven wrong as it doesn't exist on Windows. `/etc/hosts` isn't even an absolute path

[2018-10-11 06:33] kazu-yamamoto commented on #275
http://hackage.haskell.org/package/network-uri is one package which was split off from `network`. We probably need `network-bsd`.

[2018-10-14 12:33] AndreiChugunov commented on #313
@kazu-yamamoo @Mistuke  Not sure if i m writing where it is needed but i got the same problem while building network-2.6.3.6 on windows 10. ghc 8.4.3.

[2018-10-14 12:37] Mistuke commented on #313
@AndreiChugunov You should use 2.7, that should be working.

[2018-10-14 12:41] AndreiChugunov commented on #313
@Mistuke  I'm sorry i'm new to stack and haskell overall. I have dependencies in my package.yaml:
dependencies:
- base >= 4.7 && < 5
- servant-server
- aeson
- wai
- warp

Is seems like aeson needs a network library. How can i specify i need network-2.7 not 2.6.3.6? Can i just simply write it down in dependecies section in package.yaml? Thanks a lot for your fast reply and help!

[2018-10-14 12:46] Mistuke commented on #313
Hmm sorry I'm not that familiar with stack. You probably need a newer
resolver? With cabal it would be `--allow-newer`. Maybe someone else here
knows how to get 2.7 with stack.

On Sun, Oct 14, 2018, 13:41 AndreiChugunov <notifications@github.com> wrote:

[2018-10-14 15:07] AndreiChugunov commented on #313
@Mistuke  ugh. I specified version of network to 2.7.0.2. And it seems to build successfully but for now i get the following error " unable to load package `network-2.7.0.2' ":
`Error:
--  While building custom Setup.hs for package wai-app-static-3.1.6.2 using:
      C:\sr\setup-exe-cache\x86_64-windows\Cabal-simple_Z6RU0evB_2.2.0.1_ghc-8.4.3.exe --builddir=.stack-work\dist\7d103d30 build --ghc-op

[2018-10-14 15:15] Mistuke commented on #313
Seems like the preprocessor went wrong. See
https://www.fpcomplete.com/blog/2018/06/sed-a-debugging-story if the fix
there works for you.

On Sun, Oct 14, 2018, 16:07 AndreiChugunov <notifications@github.com> wrote:

[2018-10-17 08:06] kazu-yamamoto opened #353 "the network-bsd package"
I have created the network-bsd package: https://github.com/kazu-yamamoto/netwrok-bsd-try
I will move this under https://github.com/haskell

@hvr May I copy network-uri-flag to network-bsd-flag and modify/reuse it?

[2018-10-17 08:06] kazu-yamamoto commented on #275
Let's close this again in favor of #353.

[2018-10-17 08:06] #275 closed

[2018-10-18 03:53] kazu-yamamoto commented on #353
As hvr pointed out in haskell-cafe, network-bsd-flag is not necessary.

@hvr I don't have the right permission to create the network-bsd repository in the haskell organization. What should I do?

[2018-10-18 09:57] hvr commented on #353
@kazu-yamamoto I created it for you and added you as admin for it: https://github.com/haskell/network-bsd

[2018-10-19 23:51] TravisWhitaker opened #354 "Why was SockAddrCan removed?"
Commit 1d7a95422171ac6155e05b9ac2970d59e03b2f79 removed `SockAddrCan` without explanation. I can't think of why its presence would break the new `SocketAddress` class.

If it was removed due to perceived lack of use, I'd be happy to commit to supporting the CAN parts of this package's API, as I have code that requires it.

[2018-10-30 04:34] kazu-yamamoto commented on #354
Sorry for the delay. I missed this issue.

`SockAddrCan` was removed for two reasons:
- it is provided only on Linux while the `network` package is cross-platform
- it's implementation was partial (see: https://github.com/haskell/network/issues/203)

After releasing `network` 3.0.0.0, you will be able to create another package, say, `network-can` if you wish thanks to `SocketAddress`.

[2018-11-14 20:06] ekalosak opened #355 "The `PortID.PortNumber` type in `Network` is defined improperly"
The definition of `PortID` in [`Network`](https://www.stackage.org/haddock/lts-12.18/network-2.6.3.6/src/Network.html#PortNumber) is:
[code]
The component `| PortNumber PortNumber` aught to be `| PortNumber Int`, no?

[2018-11-15 04:55] kazu-yamamoto commented on #355
I'm not a native English speaker. So, I don't know what "aught to" mean. I suppose that it is a typo of "ought to".

In `| PortNumber PortNumber`, the first one is a data constructor while the second is a type (constructor). Their name spaces are separated.

The second one cannot be `Int` since many APIs require `PortNumber`.

[2018-11-15 05:41] ekalosak commented on #355
Understood, ありがとうございます.
"aught" が 正しい です.

[2018-11-15 05:41] #355 closed

[2018-11-15 11:18] kazu-yamamoto commented on #355
I should be noted that the `PortNumber` type cannot use the `PortNumber` data constructor:

[code]

[2018-11-19 17:50] eborden opened #357 "Release 3.0.0.0"
As it currently stands:

* https://www.stackage.org/lts-12.19 is on `network-2.6.3.6`
* https://www.stackage.org/nightly-2018-11-19 is on `network-2.8.0.0`

There are a number of packages with upper bounds less than `2.8.0.0` https://packdeps.haskellers.com/reverse/network. Some notable packages are:

* `hackage-security`
* `happstack-server`

Is the ecosystem ready for an epoch push?

Is there an

[2018-11-19 22:52] kazu-yamamoto commented on #357
Yes. The `network-bsd` package: https://github.com/haskell/network-bsd/issues/1
@hvr is not responding. Probably, he is very busy.

[2018-11-25 20:38] eborden commented on #354
@TravisWhitaker I'm going to close this issue. Please comment if @kazu-yamamoto's response does not address all your concerns.

[2018-11-25 20:38] #354 closed

[2018-11-26 15:40] eborden commented on #343
Addressed by: https://github.com/haskell/network/pull/358

[2018-11-26 15:40] #343 closed

[2018-12-18 09:46] yaxu opened #361 "Problems building via cabal/haskell platform core"
Hi, I maintain http://github.com/tidalcycles/tidal, a popular haskell music library.

We have many end-users (most of which are completely new to Haskell) having problems installing it via the 'core' distribution of the haskell platform, because the network library fails to build. Here is a typical build error:

![index](https://user-images.githubusercontent.com/27940/50145025-7576ec00-02a8-11e9-8

[2018-12-18 09:47] yaxu commented on #361
Possible duplicate of #89, although as far as I know, the haskell platform ships with MSYS.

[2018-12-18 15:36] eborden commented on #361
@Mistuke is our Windows expert.

[2018-12-19 21:15] Mistuke commented on #361
@yaxu can you get a log from `cabal new-install tidal -v3`? That should hopefully shed some light. Platform should indeed be shipping with `msys2`.

[2018-12-21 02:17] kazu-yamamoto commented on #357
`network-bsd` has been released.

[2018-12-28 19:16] yaxu commented on #361
I just tried this myself on a windows 10 partition, and it installed fine. Perhaps they just made a mistake with the haskell platform install process. I'll close this for now, thanks.

[2019-01-07 03:40] kazu-yamamoto commented on #357
@eborden @Mistuke I think we are ready to release v3.0.

[2019-01-07 05:21] eborden commented on #357
If @Mistuke is :+1: then I'll cut the release.

[2019-01-07 08:09] hvr commented on #357
Yes sorry, I got indeed side-tracked with the haskell.org migration and stuff; I need to pickup https://github.com/haskell/network-bsd/issues/1#issuecomment-443137546 again; I can allocate time later today (in ~10-12h) to see if there's anything I'd need tweaking in `network-3.0` regarding the autoconf/header business to help `network-bsd`  if you can wait a couple more hours...

[2019-01-07 10:22] kazu-yamamoto commented on #357
We can wait!

[2019-01-07 19:37] rossng opened #363 "Build fails on Windows - 'C compiler cannot create executables'"
Hi. I'm trying to build [Tidal](https://github.com/tidalcycles/Tidal), which depends on `network-2.6.3.6`. `stack build` gives me this error:

[code]

I've seen a few threads around the place that have similar issues, but nothing I've tried has worked, including:

* Removing my native installation of msys2 from `PATH`
* Using `--skip-msys`
* Using `--no-system-ghc`
* Re-enabling 8.3 filenames (I h

[2019-01-07 21:05] Mistuke commented on #357
Yup I have no objections. Just FYI, I'm finishing up the final bits of a new I/O manager for Windows in GHC.  Which will require completely new code in network using the native async APIs.  I'll create a ticket soon to start discussing how this should all look.

[2019-01-07 21:58] rossng commented on #363
I just tried this again after removing stack and installing the full Haskell Platform but had no more luck.

I also wondered if it was something to do with `autoreconf` - obviously this isn't available on Windows but it can be installed inside Stack's msys2. I ran `stack exec -- pacman -S base-devel` and now (somewhat baffingly) get this:

[code]

[2019-01-07 22:09] eborden commented on #357
@Mistuke Oh baby, that sounds like a whopper. Will that require an API changes? That will force us to bump the lower bound of `base` and drop support for many GHC versions. We should probably open an issue specifically for discussing that.

[2019-01-07 22:34] Mistuke commented on #357
@eborden Yeah, it's years of work, the GHC patch itself clocks in at around 7k lines of code atm, without comments.. lol. On the bright side, it will fix almost all of the warts/quirks on Windows.

I haven't thought about the API in network yet, my hope is that since `Winsock` was originally based on `BSD` sockets anyway the native interface is close enough to maintain the same interface for most

[2019-01-07 23:32] hvr commented on #357
@eborden

...but `if os(windows)`, no?

[2019-01-08 02:33] kazu-yamamoto commented on #357
@winterland1989 @Mistuke I would like to know whether of not Mio, `libuv` based IO manager and the new I/O manager for Windows can coexist if we create a proper layer to GHC.

[2019-01-08 04:04] winterland1989 commented on #357
I'm not sure if `IOCP` based IO manager can be easily combined with current event-based interface, namely `threadWaitRead/threadWaitWrite`. I gave a talk on this on Haskell symposium 2018 and i don't think it's an easy job, but maybe @Mistuke can tell more on this.

On the other hand libuv based IO manager is a one-stop solution since libuv already take care of system call encapsulation, it's not

[2019-01-08 04:15] eborden opened #364 "Integrate with the new Windows IO manager"
This is a stub issues for discussing issues around the new Windows IO manager.

Discussion kicked off in: https://github.com/haskell/network/issues/357

So far:

@Mistuke
---
Just FYI, I'm finishing up the final bits of a new I/O manager for Windows in GHC. Which will require completely new code in network using the native async APIs. I'll create a ticket soon to start discussing how this should a

[2019-01-08 04:15] eborden commented on #357
Hey y'all I don't want this conversation in this issue to get too off target. I'd like to move this discussion over here: https://github.com/haskell/network/issues/364

[2019-01-08 07:44] Mistuke commented on #364
@kazu-yamamoto Registered I/O Networking Extensions, RIO, is a "new" API that has been added to Winsock to support high-speed networking for increased networking performance with lower latency and jitter. (It's been out for a few years now). Essentially though, in traditional Winsock code, when you e.g. send data, the buffer in user mode is copied and is locked into physical memory by the kernel,

[2019-01-08 08:48] hvr commented on #357
@kazu-yamamoto @eborden why is `network` suddenly become a `build-type: Custom` package? This is going to cause some headaches in the long-run :-/

[2019-01-08 09:04] Mistuke commented on #364
and to be clear, I'm only talking about ways to maintain a working interface with what network has, not the only interface. I'd want a different interface for high performance I/O anyway for `RIO`.

[2019-01-08 10:56] kazu-yamamoto commented on #357
@hvr It's for cabal-doctest (on CIs)

[2019-01-08 11:33] hvr commented on #357
@kazu-yamamoto there's ways to run doctest without making everyone else pay for it :-)

Btw, I've noticed a problem with `network-3`: it doesn't seem to install `HsNetworkConfig.h` anymore (network-2.8 did, so this is a regression) and thus breaks the `HsNet.h`/`HsNetDef.h` headers for consumers. I'm looking into this.

[2019-01-09 01:50] kazu-yamamoto commented on #357
@hvr your branch has been merged.

[2019-01-09 01:52] kazu-yamamoto commented on #357
@hvr Would you explain how to know the build directory on `cabal new-configure` corresponding to `dist/build` on `cabal configure`.

[2019-01-09 02:01] kazu-yamamoto commented on #364
@Mistuke If you want to revise the `threadWaitRead/threadWaitWrite` APIs, I can help you on Linux and macOS side.

[2019-01-09 02:02] kazu-yamamoto commented on #364
@Mistuke @winterland1989 Thank you for your explanations. Many things are now clear to me.

[2019-01-12 00:16] hvr commented on #357
@kazu-yamamoto that's indeed a trickier thing to do, but doable in principle; however, there's a simpler approach imho, which I've filed as #365; is this something that would work for you?

[2019-01-16 01:53] kazu-yamamoto commented on #357
I think it's high time to release network 3.0.0.0!

[2019-01-18 15:43] eborden commented on #357
I went to upload a package candidate. Is there a reason we dropped `Setup.hs`?

![image](https://user-images.githubusercontent.com/545655/51396814-78face80-1b05-11e9-974d-89676d26b857.png)

[2019-01-18 15:51] eborden commented on #357
Looks like some info in here:

I'm using `cabal v2-sdist` which does not seem to be doing this. I'm going to include one myself and open a bug against `v2-sdist`.

[2019-01-18 15:54] eborden commented on #357
Candidate is up here:

http://hackage.haskell.org/package/network-3.0.0.0/candidate

Changelog is currently:

[code]
old fdSocket :: Socket -> CInt
new fdSocket :: Socket -> IO CInt

old mkSocket :: CInt -> Family -> SocketType -> ProtocolNumber -> SocketStatus -> IO Socket
new mkSocket :: CInt Socket
[code]

@kazu-yamamoto @Mistuke, everything look good to you?

[2019-01-18 15:59] eborden commented on #357
Issue opened for cabal.

https://github.com/haskell/cabal/issues/5849

[2019-01-18 17:09] Mistuke commented on #357
Changelog should probably mention that Network.BSD was moved to its own package. Otherwise looks good to me. Thanks @eborden!

[2019-01-19 02:21] kazu-yamamoto commented on #357
I have created the `setup` branch to fix `Setup.hs` issue and to allow HSPEC 2.7: https://github.com/kazu-yamamoto/network/branches

Waiting for CIs.

[2019-01-19 02:52] kazu-yamamoto commented on #357
The branch has been merged.
@Mistuke Changelog has been updated.

@eborden I think we are ready.

[2019-01-19 15:35] eborden commented on #357
Version 3.0.0.0 is out.
http://hackage.haskell.org/package/network-3.0.0.0

Cafe message sent:

[2019-01-19 15:35] #357 closed

[2019-01-19 15:38] eborden commented on #357
Tag is up as well https://github.com/haskell/network/releases/tag/v3.0.0.0

[2019-01-19 15:48] eborden commented on #231
Closing this issue since it is resolved for 3.0.0.0.

[2019-01-19 15:48] #231 closed

[2019-01-19 16:06] hvr commented on #357
Great! I'll take care of a matching network-bsd release rsn

[2019-01-19 16:07] eborden commented on #357
Thanks @hvr!

[2019-01-21 05:23] kazu-yamamoto opened #369 "Releasing 3.0.0.1"
We should release v3.0.0.1 to fix #368.
I would like to propose to wait for one week and release it in the next week.

[2019-01-21 17:18] eborden commented on #369
Waiting a week sounds like a good idea. We'll see if anything else shakes out.

[2019-01-26 23:42] eborden commented on #369
Has the time come? Release of 3.0.0.1 on Sunday?

[2019-01-27 13:44] kazu-yamamoto commented on #369
Big yes!

[2019-01-27 22:36] eborden commented on #369
Candidate here: http://hackage.haskell.org/package/network-3.0.0.1/candidate

[2019-01-28 15:15] gregorycollins opened #372 "Can no longer get `SocketType` from active socket"
Hi,

You used to be able to get the `SocketType` from an active `Socket` by pattern-matching the `MkSocket` constructor. Since 3.0 this no longer seems to be possible. This breaks io-streams-haproxy. We should expose a `getSocketType :: Socket -> SocketType`. I'll prepare a PR

[2019-01-29 00:00] kazu-yamamoto commented on #372
Sorry for your incovenience.
Would you add "Since: " to its document?

[2019-01-29 20:59] eborden commented on #369
I've published the candidate.
http://hackage.haskell.org/package/network-3.0.0.1

[2019-01-29 23:11] #369 closed

[2019-01-29 23:12] kazu-yamamoto commented on #369
Thanks!

[2019-01-30 06:47] #372 closed

[2019-02-06 01:03] vdukhovni opened #376 "Overly broad exception handlers catching asynchronous exceptions"
As mentioned in: https://github.com/haskell/network/pull/375#discussion_r254094284
There are some bits of code in `network` that catch too broad a class of exceptions.  Perhaps an "audit" of the code for correct exception handling is warranted, but at least the issues mentioned should be considered.

[2019-02-06 01:36] vdukhovni commented on #126
For the record, it takes a bit more than just a punycode encoder/decoder to do IDNA2008 correctly.  I am curating a private version of the rather dated `idna-hs` package for some of my projects, it implements IDNA2003, which is obsolete, and IIRC I fixed one or two minor issues.  That said, is getaddrinfo() actually expected to resolve U-labels?  Mapping of user input to valid U-labels is a tricky

[2019-02-06 05:49] kazu-yamamoto opened #377 "abstract addresses"
- [ ] `accept()`
- [ ] `getsockname()`
- [ ] `getpeername()`
- [ ] `connect()`
- [ ] `sendto()`
- [ ] `bind()`
- [ ] `accept()`
- [ ] `getsockname()`
- [ ] `getpeername`
- [ ] `recvfrom()`
- [ ] regression test cases

[2019-02-06 05:54] vdukhovni commented on #377
Keeping in mind that all of this Linux-specific, and on other platforms socket addresses that start with NUL may not behave as advertised on Linux.  Therefore, any logic around address lengths for pathnames starting with NUL needs to be `#ifdef LINUX`.

[2019-02-06 06:03] kazu-yamamoto commented on #377
Sure. See 2ecc3ea.

[2019-02-06 06:10] kazu-yamamoto opened #378 "Releasing 3.0.1.0"
To rescue dbus, we should release 3.0.1.0 ASAP after #374 is closed.

- [x] ver bumps up
- [x] changelog

[2019-02-06 15:29] eborden commented on #378
package candidate here: http://hackage.haskell.org/package/network-3.0.1.0/candidate

[2019-02-07 01:08] kazu-yamamoto commented on #378
Go ahead!

[2019-02-07 01:32] eborden commented on #378
Candidate published.

Cafe message sent:

[2019-02-07 01:32] #378 closed

[2019-02-07 01:37] eborden commented on #268
Closing as this issue is out of date.

[2019-02-07 01:37] #268 closed

[2019-02-08 07:42] kazu-yamamoto opened #380 "A blog article"
Just FYI. I will close this very soon. If you find any issues, please let me know:

https://kazu-yamamoto.hatenablog.jp/entry/2019/02/08/162027

[2019-02-08 16:47] eborden commented on #380
Thanks for posting this!

I agree that I haven't made much change because I also wasn't quite sure what to do. The `socket` library provided some nice discussion around ways to evolve `network`.

At this point I've switched my personal mission on the project to stability and quality assurance. I'd like to be able to increase confidence in change so that `network` can evolve while limiting impact t

[2019-02-09 06:01] vdukhovni commented on #380
The "Final Note" section could be better:
Original:
[code]
Perhaps better:
[code]
Original:
[code]
Fix spelling of "package", and perhaps rephrase, not sure "for showing extensibility" means.

[2019-02-09 10:30] kazu-yamamoto commented on #380
Thank you!

Changed.

Fixed the typo. "for showing extensibility" meant that Lars implemented `socket` which are extensible and we learned how to make `network` extensible from `socket`. Could you suggest better phrase?

[2019-02-09 18:22] vdukhovni commented on #380
How about:

_I thank Lars Petersen for showcasing design for extensibility in his `socket` package._

[2019-02-09 23:12] kazu-yamamoto commented on #380
@vdukhovni Thank you! Since English is not my native tongue, I welcome this kind of suggestions always!

[2019-02-10 11:02] #380 closed

[2019-02-17 21:08] zoranbosnjak opened #381 "missing multicast support"
Please consider adding *UDP multicast* support to the network library.
There is a separate library `network-multicast` here:
https://hackage.haskell.org/package/network-multicast
but the multicast is so basic function that it could as well be integral part of the `network`.

[2019-02-18 23:26] remyoudompheng opened #382 "Heap buffer overflow in version 2.8.0.0 with abstract Linux sockets"
Hello,

There is a heap overflow in pokeSockAddr that was fixed in release 3.0.0.0 when using Linux abstract Unix sockets. As far as I know it is present in at least all versions from 2.6.3.3 to 2.8.0.0.

The following program reproduces a segfault with ghc 8.6.3 when compiled with the threaded runtime
[code]
with the following output:
[code]

Since many systems are still using network 2.8.0.0 (li

[2019-02-19 06:26] kazu-yamamoto commented on #381
We are trying to make `network` truely cross-platform and keep it as small as possible. So, we should answer the following questions for this kind of issues:

- Is the code truely cross-platoform? If no, we cannot merge the code into `network`.
- Is it impossible to implement the code without modifications of `network`? If the answer is possible, such `network-xxx` packags are our intention.

[2019-02-19 16:14] eborden commented on #381
@kazu-yamamoto This might point to a deficiency in documentation. Just as we point to high level libraries in `network`'s description, we may want to point to the existence of a `network-_` ecosystem.

[2019-02-19 16:16] eborden commented on #382
@remyoudompheng I would gladly accept a PR for 2.8.0.1.

[2019-02-19 20:57] remyoudompheng commented on #382
For completeness I included in the PR a variant of commit c8042c7ce169bede108b4422d72e9ab406eab081 to check lengths of ordinary Unix socket addresses.

You can obtain consistent crashes with a program like
[code]
In this case it is probably easier to obtain more arbitrary memory writes.

[2019-02-19 22:16] zoranbosnjak commented on #381
I agree on the arguments. However, there is still room for improvement. The `network-multicast` has 2 parts:
* High level functions `multicastSender` and `multicastReceiver`.
* Low level socket manipulation functions (setting socket options with some *multicast* specific constants).

Only the *low level part* is a candidate for the `network` base library. I am almost certain that it can remain cro

[2019-02-20 08:39] kazu-yamamoto commented on #381
We should read https://tools.ietf.org/html/rfc3678.
Unfortunately, the support is not straightforward because `setSocketOption` allows an `Int` value only.
We need a more generic API.

[2019-03-04 00:46] kazu-yamamoto opened #386 "test failure"
48602a33c0d579aba383a01333e084bee9fde055 introduced the following error on macOS:

[code]

We should fix this before we merge #385.

[2019-03-04 06:44] #386 closed

[2019-03-07 06:50] yaxu commented on #361
This is still an issue after all, but @mistuke kindly found a fix over here https://github.com/haskell/haskell-platform/issues/318#issuecomment-470370214

[2019-03-07 09:02] endgame opened #390 "unknown symbol `if_nametoindex'"
I'm having trouble using `network-3.0.1.0` on Win10 Home 10.0.17134 Build 17134 on a student's machine.
I'm using Haskell Platform Core 8.2.2, and it fails with errors about "unknown symbol if_nametoindex".

It's possible that this is fixed in more recent versions of the Haskell Platform (more recent MinGW/MSYS?), but we are currently stuck with 8.2.2 for this iteration of the course (matching the

[2019-03-07 18:05] eborden commented on #390
This has been documented elsewhere
https://github.com/haskell/haskell-platform/issues/318#issuecomment-470370214
https://github.com/haskell/network/issues/361

I am currently working on test coverage here:
https://github.com/haskell/network/tree/eborden/add-loopback-tests-for-if-index

We will either add the necessary windows handling or disable this function for windows environments.

[2019-03-07 20:30] andrewthad opened #392 "Confusing docs for unix socket address"
The docs for [SockAddrUnix](http://hackage.haskell.org/package/network-3.0.1.0/docs/Network-Socket.html#t:SockAddr) read:

Maybe something more like:

[2019-03-07 21:53] aburn commented on #151
Hi,

Is anyone working on this? Is there a design proposed anywhere on how the errors should be reported/handled. I'm new to Haskell and looking for something to work on. If there is a breakdown of tasks to be done for this issue, I can pickup a minor task and go from there. Please let me know.
Thanks!

[2019-03-08 01:21] kazu-yamamoto commented on #151
Nobody is working on this. Please take this issue if you are intrested.

[2019-03-09 16:09] eborden commented on #390
This has been fixed on `master` and will go out in the next release.

[2019-03-09 16:09] #390 closed

[2019-03-22 16:01] Calum-J-O opened #394 "unable to load package 'network-3.0.1.0'"
I have recently used `cabal install io-streams` to pull the specified package into a `.cabal-sandbox/` folder within my directory.
As a result of this, the `network-3.0.1.0` package has been pulled down as a dependancy. However when I come to use an import statement that runs off of the `io-streams` package, I get the following error in my console:
[code]
Just wondering if someone could have a loo

[2019-03-25 15:52] eborden commented on #394
@Calum-J-O, it looks like you are on windows. A fix for this was recently merged into `master`, but it has not been released.

https://github.com/haskell/network/pull/391

[2019-03-25 15:56] eborden opened #395 "Release network-3.0.1.1"
We recently merged a fix for Windows users. We should cut a point release for this.

related:
- https://github.com/haskell/network/pull/391
- https://github.com/haskell/network/issues/394

[2019-03-25 15:59] eborden commented on #395
Updated version and changelog here:
https://github.com/haskell/network/commit/4c9665fadf6b7aecbed49f85e49bf6c3f25ea097

[2019-03-25 22:38] kazu-yamamoto commented on #395
Please go ahead!

[2019-03-26 20:32] eborden commented on #395
Published https://hackage.haskell.org/package/network-3.0.1.1

[2019-03-26 20:34] eborden commented on #395
Tagged: https://github.com/haskell/network/releases/tag/v3.0.1.1

[2019-03-26 20:34] eborden commented on #394
3.0.1.1 has been released and should fix this for you
https://hackage.haskell.org/package/network-3.0.1.1

[2019-03-26 20:34] #394 closed

[2019-03-26 20:35] #395 closed

[2019-04-10 05:56] kazu-yamamoto commented on #392
Than you for your suggestion. And done.

[2019-04-10 05:56] #392 closed

[2019-04-18 07:02] mpilgrem commented on #363
This may be related: https://github.com/commercialhaskell/stack/issues/4726. I found that setting up `stack` so that there was no space in a particular path fixed things for me.

[2019-04-19 06:50] fumieval opened #396 "Sockets can be closed prematurely on threaded"
7916e7264c9a37b1f0c30d303cad64c75a94af51 introduced a finaliser for a socket, but this may close the socket prematurely, resulting in Bad file descriptor error.

Reproducing example: https://github.com/tsurucapital/network/commit/7496faa435b248817e5ef0221028214ee15ab25a

[2019-04-19 06:55] takano-akio opened #397 "Socket is closed prematurely by the finalizer"
When compiled with `-threaded`, the following program crashes with the message: `threadWait: invalid argument (Bad file descriptor)`. This happens with `network-3.0.1.1` and with HEAD, but not with `network-2.6.3.6`.

[code]

This seems to be caused by the fact that the `accept` function doesn't ensure that the internal `IORef` inside the socket remains referenced until the `accept` operation is c

[2019-04-19 06:57] takano-akio commented on #397
Oops, this is a duplicate of #396. Sorry about the noise.

[2019-04-19 06:57] #397 closed

[2019-04-19 06:57] takano-akio commented on #396
See also #397.

[2019-04-19 07:05] fumieval commented on #396
A possible path would be

1. remove the call to `mkWeakIORef`
2. Merge #352
3. Deprecate `fdSocket`
4. Rewrite every use of `fdSocket` with `withFdSocket`
5. Put `mkWeakIORef` back
6. Remove `fdSocket`

[2019-04-19 09:24] kazu-yamamoto commented on #396
In private communication with @fumieval, I understand that this is due to GC.

[code]

In this *no loop* example, `sock` is to be GCed while `accept` is blocked.

[2019-04-19 09:27] kazu-yamamoto commented on #396
`fdSocket` is not the main cause of this problem. But the place where `fdSocket` is used, this problem tends to appear. This proposal is to replace it with a safer API.

[2019-04-24 02:03] kazu-yamamoto opened #401 "Releasing 3.1.0.0"
The terrible bug has been fixed in #399. Let's release the next 3.0.

@eborden Which do you prefer 3.0.1.2 or 3.0.2.0?

Cc: @fumieval @takano-akio

[2019-04-24 02:05] kazu-yamamoto opened #402 "Releasing 2.8.0.1"
Let's release the next 2.8 after #400 is merged.

[2019-04-24 02:34] fumieval commented on #401
According to the [Haskell PVP](https://pvp.haskell.org/), this should be a major bump (i.e. 3.1) since this contains a deprecation.

[2019-04-24 22:11] eborden commented on #401
Yup, the PVP demands it. `3.1.0.0` it is.

[2019-04-24 23:48] kazu-yamamoto commented on #402
- [x] #400 is merged.
- [x] Changelog
- [x] Version bump

[2019-04-24 23:49] kazu-yamamoto commented on #402
@eborden We are ready to go.

[2019-04-24 23:56] kazu-yamamoto commented on #401
- [x] changelog
- [x] version bump

[2019-04-24 23:56] kazu-yamamoto commented on #401
@eborden We are ready to go.

[2019-04-24 23:57] kazu-yamamoto commented on #396
#399 fixes this.

[2019-04-24 23:57] #396 closed

[2019-04-24 23:57] kazu-yamamoto commented on #382
#400 fixes this.

[2019-04-24 23:57] #382 closed

[2019-04-25 00:06] kazu-yamamoto commented on #363
@rossng Could you check if your path include space characters?

[2019-04-26 00:22] eborden commented on #401
I'll jump on these tomorrow morning. Thanks for prepping!

[2019-04-26 22:38] eborden commented on #402
Package candidate: http://hackage.haskell.org/package/network-2.8.0.1/candidate

[2019-04-26 22:39] eborden commented on #401
Candidate: http://hackage.haskell.org/package/network-3.1.0.0/candidate

[2019-04-26 23:54] eborden commented on #401
Candidate published and cafe message sent.

[2019-04-26 23:54] #401 closed

[2019-04-26 23:54] eborden commented on #402
Candidate published and cafe message sent.

[2019-04-26 23:54] #402 closed

[2019-04-27 00:03] eborden opened #403 "You're doing great work!"
No real issue here, just a reminder that you both are doing a fantastic job.

https://repocheck.com/#haskell%2Fnetwork

![image](https://user-images.githubusercontent.com/545655/56841889-43245f00-6845-11e9-95a3-0d455f1f7171.png)

[2019-04-27 08:15] phadej opened #404 "What are the breaking changes in `network-3.1`"
Based on changelog I don’t see anything major.

Deprecating a symbol is **not breaking** change. More warnings is not ”breaking”. This release seems to cause unnecessary churn in the downstream.

If there aren’t actually any breaking . I’d recommend to blacklist the 3.1 version and re-release it as 3.0.1

[2019-04-27 11:21] Mistuke commented on #403
woot! Hopefully we'll be able to close some of the older Windows ones soon!

[2019-04-27 12:27] kazu-yamamoto commented on #404
Please see https://github.com/haskell/network/issues/401

[2019-04-27 12:37] phadej commented on #404
Sorry, My bad, seems deprecation clause is still not removed from PVP.

https://github.com/haskell/pvp/issues/12 has been open for two years. I’d hope that CLC would act and decide for or against.

[2019-04-27 19:21] mpilgrem commented on #363
@rossng, in respect of your `stack exec -- autoreconf` problem, `autoreconf` is a shell script file, not an executable. Try `stack exec sh -- autoreconf -i`. `autoreconf` depends on `perl`, which also needs to be installed inside stack's MSYS2 (`stack exec pacman -- -S perl`).

[2019-04-29 14:37] #404 closed

[2019-05-03 13:59] #403 closed

[2019-05-17 16:13] BebeSparkelSparkel opened #406 "depricated fdSocket used in example"
https://github.com/haskell/network/blob/1a14e37147e933776718b68bf3dc090e224092f6/Network/Socket.hs#L50

[2019-05-17 16:14] BebeSparkelSparkel commented on #406
Would `withFdSocket sock pure` be correct?

[2019-05-20 06:15] kazu-yamamoto commented on #406
Fixed. Thank you for pointing out.

[2019-05-20 06:15] #406 closed

[2019-06-03 06:45] endgame opened #407 "Does getAddrInfo return IO (NonEmpty AddrInfo)?"
The documentation for `Network.Socket.getAddrInfo` specifies that:

That the `res` pointer is given a non-empty list appears to be [required by POSIX](http://pubs.opengroup.org/onlinepubs/9699919799/functions/getaddrinfo.html):

The manpages on my system do not mention this postcondition.

The implementation in [`Info.hsc`](https://github.com/haskell/network/blob/125a78c05b80f8b3f2faad0d86fdd57eeb

[2019-06-03 09:03] kazu-yamamoto commented on #407
I think it's too late to change the result type to `IO (NonEmpty AddrInfo)`. I prefer to throw an exception if we see an empty list in `res`.

[2019-06-04 13:57] endgame commented on #407
Ah, that's a shame. I personally disagree, but you have a lot of reverse-dependencies to consider. Here is a PR to raise an exception.

[2019-06-05 10:26] shmish111 commented on #357
What will it take to get this onto stackage?

[2019-06-05 12:42] kazu-yamamoto commented on #357
I guess you should ask stackage guys, not here.

[2019-06-06 00:35] kazu-yamamoto commented on #407
I don't understand why you think it's a shame.
Even if we change the signature to `IO (NonEmpty AddrInfo)`, it should throw an exception at the case of empty `res`, right?

[2019-06-06 00:56] endgame commented on #407
Correct, we will have to throw some exception (even if it is just an `error` call) either way. I'll try to explain my thinking further.

I believe that types should convey as much information as practically possible. The implied contract of functions in this library is "result or throw exception", which means that for `getAddrInfo`, the contract from context and types is "list-that-may-be-empty or

[2019-06-07 14:27] eborden commented on #407
@endgame The more compatible way to change the type of `getAddrInfo` is to introduce a new version of that function that returns `NonEmpty`. We can then deprecate `getAddrInfo` in a later version.

[2019-06-07 22:22] endgame commented on #407
I am willing to prepare such a PR. My initial thought was `getAddrInfo'`, with a plan that looks something like:

1. Today: `getAddrInfo' = fromList <$> getAddrinfo`, mark `getAddrInfo` deprecated.
2. Some future version: replace `getAddrInfo = getAddrInfo'`, mark `getAddrInfo'` deprecated.
3. Some far future version: remove `getAddrInfo'`.

What did you have in mind?

[2019-06-08 22:30] endgame commented on #407
Ah, I forgot. The other problem with bringing in `NonEmpty` now is that this library still claims to support GHC 7.10, which doesn't have `NonEmpty` in `base`. Adding a conditional dependency on `semigroups` will add a bunch of dependencies to those builds, but maybe that's OK? Alternatively, do you have a timeline for retiring GHC 7.10?

[2019-06-09 12:18] SweeWarman opened #409 "recvFrom/sendTo for lazy bytestrings?"
I have a UDP server receiving lazy bytestring data using the "recv" function. How can I reply to the client with lazy bytestring data? Network.Socket.BytesString.Lazy doesn't provide functions recvFrom/sendTo. Any thoughts? Is there a way to accomplish this besides using the functions (recvFrom/sendTo) in Network.Socket.ByteString and converting to/from lazy bytestrings?

[2019-06-09 21:35] eborden commented on #407
Yes, the dependency issues is a problem. Our official support is 3 versions, so technically we are really only bound to `8.2.x`. However I'd really only drop support for an earlier version if there is a very compelling case. I'm not sure if this case warrants that, but @kazu-yamamoto may feel differently.

For now the exception proposal gets us visibility if an issue occurs.

[2019-06-09 21:59] eborden commented on #409
@SweeWarman you can use `Data.ByteString.Lazy.toChunks` to chunk:

[code]

[2019-06-09 21:59] #409 closed

[2019-06-10 01:15] #381 closed

[2019-06-10 01:29] kazu-yamamoto commented on #407
I *was* a fan of `NonEmpty` but recently not honestly. Actually, I'm trying to remove `NonEmpty` from my code since it makes code complicated but gains little in my cases. See https://github.com/yesodweb/wai/commit/919eb78346dfd1ee571e856faf33bfe904b6a560#diff-1844ab066ed4af048ce229abe6e7e69fL16

In the case of `getAddrInfo`, I don't see much benefit, either. We already throw an exception in the c

[2019-06-10 01:59] #376 closed

[2019-06-13 03:27] kazu-yamamoto opened #412 "Using strict language extension"
In my opinion, network programming in Haskell should use strict evaluation except `atomicModifiyIORef'`,  to avoid space leak. `Strict` and `StrictData` language extension are introduced in GHC 8.0 and it's days of GHC 8.6. So, it's good time to introduce them to `network`.

For this purpose, all `undefined` should be removed. It's very easy. But during this work, I experienced that `undefined` ar

[2019-06-13 03:33] kazu-yamamoto opened #413 "Releasing 3.1.0.1"
- [x] changelog
- [x] ver bumps

I think we are ready.

[2019-06-13 04:30] eborden commented on #412
We should probably formulate some realistic benchmarks before introducing a change of this nature.

[2019-06-13 14:56] eborden commented on #413
I'll get on this later today. We should probably think about setting up a release cadence. Once every 3 months?

[2019-06-13 23:52] kazu-yamamoto commented on #413
I'm not sure. It's up to you. :-)

[2019-06-13 23:53] kazu-yamamoto commented on #413
BTW, I would like to discuss what features should be included in v4. For instance, better errors.

[2019-06-14 10:48] kazu-yamamoto commented on #412
SPJ helped me to understand what's going on. This is not a bug of `base`. We can use these extensions for all versions of GHC 8 now.

https://github.com/kazu-yamamoto/network/tree/strict

[2019-06-20 03:15] eborden commented on #413
3.1.01 has been released on hackage: http://hackage.haskell.org/package/network-3.1.0.1

Cafe message sent:

[2019-06-20 03:15] #413 closed

[2019-06-20 03:18] eborden commented on #413
@kazu-yamamoto I've started a project for 4.0.0.0. We can queue up proposed issues for that project there.

https://github.com/haskell/network/projects/3

[2019-06-20 03:28] eborden commented on #413
@kazu-yamamoto I've also added some quarterly milestones for releases:
https://github.com/haskell/network/milestones

[2019-06-20 03:56] maoe commented on #413
Maybe it's too late but I think both of #410 and #411 are silent breaking changes which are worth a major version bump. See [the decision tree](https://pvp.haskell.org/#decision-tree) in PVP. I think both changes are yes on the second box.

[2019-06-20 05:58] kazu-yamamoto opened #414 "Releasing version 3.1.2.0"
I would like to discuss what features should be implemented in version 4. Please speak up.

I would like to have:
- using `Strict` and `StrictData` by default

[2019-06-20 18:44] eborden commented on #414
@kazu-yamamoto I've opened the v4 project https://github.com/haskell/network/projects/3

There is a column for "Proposed" where we can stack items that we think should be in. That can serve as an initial brainstorm. Then we can spend some time triaging that list.

I actually added `Strict` to the Q4 milestones. I wasn't thinking an epoch change for that. However I could be convinced.

[2019-06-21 05:20] kazu-yamamoto commented on #412
`warp`, `warp-tls`, `auto-update`, `wai-app-file-cgi` and `mighttpd2` have been released with `Strict` and `StrictData` enabled by default.

[2019-06-21 05:24] kazu-yamamoto commented on #412
I should explain this. The purpose of this PR is to let us convinced that space leaks are not due to lazy evaluation when they occurs.  This PR might not improve heap profiling but would save our souls very much. I'm very tired from finding sources of space leaks due to lazy evaluation for last 10 years.

[2019-06-28 11:13] peti opened #416 "The getNameInfo API is a little strange"
`getNameInfo` has the ability to report a name resolution error by means of returning `Nothing`. When the `NI_NAMEREQD` flag is not set, resolution will never fail because the function simply returns the IP address we were trying to look up. When `NI_NAMEREQD` is set, however, the function is supposed to fail when that address can't be resolved. Curiously enough, that failure is communicated throu

[2019-06-28 12:18] peti commented on #416
To make matters even more complicated, there are use cases for `getNameInfo` that cannot fail, i.e. when `NI_NUMERICHOST` is requested. Yet, the API's use of `Maybe` suggests that this operation can fail. Furthermore, that operation does not require the `IO` monad because it has no side-effects.

I suppose you'd really want a family of functions that express different operations with an API that's

[2019-07-01 01:37] kazu-yamamoto commented on #416
@eborden We should also consider this when we introduced a new error mechanism.

[2019-07-01 01:39] kazu-yamamoto commented on #416
@peti The current maintainers of `network` are not the original author of `getNameInfo`. So, we don't know this kind of intention in detail. Sorry.

[2019-07-01 03:08] eborden commented on #416
#151 is the primary issue for rethinking error handling. Mentioning it in this issue will make it visible there and more likely to be considered when addressing error handling in general.

@peti, I agree it is surprising. I don't see anything in `git blame` to give a deeper reason, so thank you for documenting this as an issue.

Is there a reason to expand failure modes beyond `Maybe` to an `Eithe

[2019-07-01 08:37] peti commented on #416
Yes, absolutely. The `getnameinfo()` function from C provides plenty of useful information via its return code that's currently hidden from users. According to the man page, we have:

    EAI_AGAIN
	   The name could not be resolved at this time. Try
	   again later.

    EAI_BADFLAGS
	   The flags argument has an invalid value.

    EAI_FAIL
	   A nonrecoverable error occurred.

    EAI_FAMILY

[2019-07-01 23:44] kazu-yamamoto commented on #416
@eborden Thank you for explaining. I understand the motivation for the new error handing. That is, we should expose errors of system calls. But #151 also says that errors should be extendable. What does this mean?

[2019-07-28 02:08] juhp commented on #333
I see this with network-2.8.0.1 in Fedora now.

[2019-08-03 19:50] bitc opened #418 "fdSocket should not be deprecated"
The docs for `fdSocket` explain why it can be dangerous, and the docs recommend using `withFdSocket` instead.

This is a great suggestion, but sometimes the structure of your code does not allow you to use a "with" style. (In my program, I need to pass the socket fd to some C code that will continue to write to it after my Haskell code block returns)

It is my understanding that it is possible to

[2019-08-04 01:33] kazu-yamamoto commented on #418
Relating to #398

[2019-08-04 01:33] kazu-yamamoto commented on #418
Cc: @takano-akio @fumieval

[2019-08-04 01:35] kazu-yamamoto commented on #418
@bitc I think your observation makes sense. I have no strong opinion. Please discuss this issue with guys above.

[2019-08-04 23:45] takano-akio commented on #418
Sounds reasonable to me.

Should we follow the same pattern as `ForeinPtr` here? It provides the functions `unsafeForeignPtrToPtr` and `touchForeignPtr` for this use case. We could similarly provide `unsafeFdSocket` and `touchSocket`.

[2019-08-05 00:43] kazu-yamamoto commented on #418
@takano-akio If you provide a PR, it would be highly appreciated.

[2019-08-17 14:27] vrom911 opened #419 "Failed to build with GHCJS"
I'm trying to build the project that has `network` library as a dependency using GHCJS compiler, but, unfortunately, I get the following error:

[code]

Could you help me to fix this?

I'm using `ghcjs-8.4`. building with `cabal-install version 3.1.0.0`.

[2019-08-19 07:36] chenyulue opened #420 "fail to install network on windows 10 with stack-2.1.3"
I try to install network with stack-2.1.3 and ghc-8.6.5 in the bundled msys2, but the installation always fails. The final message of the error tells " terminateProcess: permission denied (Permission denied)". The full error is as follows:
<details>

</details>

I don't know whether it is related to the fact that the configuration has many Noes.
Thanks for any help!

[2019-08-28 03:57] kazu-yamamoto commented on #418
Ping @takano-akio

[2019-08-28 04:24] kazu-yamamoto opened #421 "Releasing 3.1.1.0"
`gracefulClose` has been merged. I would like to release a new version. Should we wait for #418?

[2019-08-29 00:34] fumieval commented on #418
It's a fairly simple change. I can do it if you don't have time

[2019-08-29 01:05] kazu-yamamoto commented on #418
@fumieval Welcome!

[2019-08-29 01:14] takano-akio commented on #418
I'll do this today.

[2019-09-03 02:26] #418 closed

[2019-09-03 21:52] eborden commented on #421
Oh hey, sorry. I came back from vacation, then left again for another vacation. I've got this on my todo list for this week. Awesome work on `gracefulClose`.

[2019-09-03 22:23] kazu-yamamoto commented on #421
We are tackling #424 which should be included in 3.1.1.0.
So, I should wait for your return of the next vacation.
Would you tell me when you will come back?

[2019-09-03 22:30] eborden commented on #421
@kazu-yamamoto I am back now. I won't release till #424 is merged.

[2019-09-03 22:34] kazu-yamamoto commented on #421
Oh. I understand what you meant!

[2019-09-06 12:50] hanrai commented on #420
Same here:

[2019-09-06 13:24] chenyulue commented on #420
@hanrai You can see [#5014](https://github.com/commercialhaskell/stack/issues/5014)

[2019-09-07 10:55] hanrai commented on #420
Thank you, it works.

[2019-09-17 23:33] Mistuke opened #426 "Socket type is incorrect on Windows"
`Socket` is defined as holding a `CInt`, but on Windows `SOCKET` is an unsigned 64 bit value, usually  `UINT_PTR`.  See [1] and [2] this means we may truncate a valid `SOCKET` to something invalid.

[1] https://sourceforge.net/p/mingw-w64/mingw-w64/ci/master/tree/mingw-w64-headers/include/psdk_inc/_socket_types.h
[2] https://docs.microsoft.com/en-us/windows/win32/winsock/socket-data-type-2

[2019-09-17 23:38] kazu-yamamoto commented on #426
@Mistuke Could you fix it by yourself?

[2019-09-17 23:45] Mistuke commented on #426
Yes but I'm not sure how yet. The problem is it's an exported type and we have functions where the `CInt` escapes into an external API.

I fear this may break a lot of packages.

[2019-09-18 00:25] kazu-yamamoto commented on #426
- How large `CInt` is on Windows?
- Do you mind if we release version 3.1.1.0 without fixing this?
- Should we change the error checking style for `socket()` and `accept()` on WIndows?

[2019-09-18 00:27] kazu-yamamoto commented on #426
If we export the following `CSocket` instead of `CInt`, what will happen?

[code]

[2019-09-18 22:13] Mistuke commented on #426
Same as Linux, just 32-bits.

Yeah I don't consider this a blocker, it's been like this for years so.

Yes as it returns `SOCKET_ERROR`. so an unsigned `-1` not a signed one.

But the problem is `withFdSocket`, `socketToFd` and `mkSocket` all expose the `CInt`, so what I meant is that changing this to the wider type on Windows would likely cause anything that uses these calls to fail..

[2019-09-19 00:21] kazu-yamamoto commented on #421
@eborden We are ready for releasing this version.

Cc: @Mistuke

[2019-09-19 20:02] eborden commented on #421
Taking a look at this now.

[2019-09-19 20:18] eborden commented on #421
Here is a release candidate.

http://hackage.haskell.org/package/network-3.1.1.0/candidate

I made a few additions to the changelog. Let me know if you see anything missing.

[code]

[2019-09-20 00:48] kazu-yamamoto commented on #426
Sorry but I did not know that the size of `CInt` is 4 even on Unix.
Should we use `CIntMax` instead?

[2019-09-21 18:50] Mistuke commented on #426
Hmm I though that an `fd` on `Unix` is a signed 32-bit value? so `CInt` is correct on `Unix` no? For WIndows you'd need an unsigned value so `CUIntMax` would be appropriate.

[2019-09-21 23:01] kazu-yamamoto commented on #421
Looks good. Please go ahead!

[2019-09-23 21:29] kazu-yamamoto commented on #421
@eborden Ping

[2019-09-23 22:19] eborden commented on #421
Candidate is published and cafe message is sent (with a plug for you blog post).

[2019-09-23 22:19] #421 closed

[2019-09-23 23:22] kazu-yamamoto commented on #421
Thank you!

[2019-09-24 00:48] kazu-yamamoto commented on #426
Do you have a source which explains that `fd` on `Unix` is limited to 32-bit?

[2019-09-24 17:40] Mistuke commented on #426
Not directly, but all the docs for e.g. `epoll` uses `int` for `fd` https://linux.die.net/man/2/epoll_ctl
and while not authoritative it is backed up by wikipedia https://en.wikipedia.org/wiki/File_descriptor

[2019-09-24 18:47] tomsmalley commented on #419
We have a patch for this in reflex-platform: https://github.com/reflex-frp/reflex-platform/pull/525

[2019-09-26 09:28] kazu-yamamoto commented on #426
Wow. I misunderstood that `sizeof int` on 64bit Unix is 8.
OK. It's 4. And `epoll`'s manual is a good evidence.

[2019-09-26 11:33] vrom911 commented on #419
That's nice, @tomsmalley ! Would you like to propose this patch to the library here as well?

[2019-09-26 13:04] tomsmalley commented on #419
Unfortunately that particular patch is unsuitable for inclusion here: we'd really need the `|| defined(ghcjs_HOST_OS)`, but for some reason that wasn't working for me.

[2019-09-27 03:58] kazu-yamamoto commented on #419
I have zero knowledge about GHCJS. Is the `unix` package of GHCJS different from that of Haskell?

[2019-09-27 08:03] jneira commented on #420
I've asked to reopen #5014 cause upgrade network is not always easy or possible and i've tried to reproduce it in my envs with no luck: https://github.com/commercialhaskell/stack/issues/5014#issuecomment-535806191

[2019-09-27 13:42] tomsmalley commented on #419
`setCloseOnExec` comes from `base`. GHCJS patches around the definition too:

https://github.com/ghcjs/ghcjs/blob/ghc-8.6/lib/patches/base.patch#L608

The patch for networks should probably be done in the same place.

[2019-09-27 22:28] kazu-yamamoto commented on #419
Thanks. Since `ghcjs_HOST_OS` is officially supported in GHC, we should use it in `network`, too.
I will take care of this in the next week.

[2019-09-29 12:02] jneira commented on #420
For completeness, i am gonna quote the workaround found in [downstream issue](https://github.com/commercialhaskell/stack/issues/5014#issuecomment-536291375):

[2019-10-09 05:37] vdukhovni commented on #426
The size if the "int" type in C is implementation dependent. Historically (very long ago) it was even 16 bits. Now most Unix system have 32-bit ints, but some Unix variants (perhaps Cray systems) IIRC have had 64 bit ints.

This is why haskell has  a `CInt` data type rather than just using `Int32` or similar. On any given Haskell runtime `CInt` may be 32 or 64 bits.

In GHC, despite the documentat

[2019-10-09 07:08] vdukhovni opened #427 "Network 2.8 missing conversions for Socket family and type."
In Network 2.8, it is difficult to create a new socket of the same __shape__ as an existing socket due to missing interfaces.  In C, I can do this via:
[code]
But `Network.Socket` does not export a way to recover the address family of a socket other than case matching the constructor, and no way to map the integer returned from `(getSocketOption sock Type)` back to a `SocketType` that can be used

[2019-10-10 00:59] kazu-yamamoto commented on #427
I don't have motivation to improve `2.8` by *myself*. But if you send a PR, I would love to merge it and @eborden will release a new version.

[2019-10-10 01:02] kazu-yamamoto commented on #426
@vdukhovni Thank you for your explanation. Very clear.

[2019-10-10 02:09] vdukhovni commented on #426
@kazu-yamamoto I opened an issue on GHC's gitlab that is motivated by this discussion:
https://gitlab.haskell.org/ghc/ghc/issues/17335
Do you think I'm making a valid point, or is this unlikely to cause any confusion?

[2019-10-10 02:21] vdukhovni commented on #426
I just updated that issue, it seems that the top-matter (introductory text for the module) already discusses the portability caveat, but it is arguably too easy to miss when one is in a hurry?

[2019-10-10 13:25] Mistuke commented on #426
Yes base has a few of those disclaimers around. In particular the Win32 stuff in base are mostly all wrong.

For the `Win32` module I override the docs with ones generated in Windows.

But in a general sense they're wrong for all platforms where types differ not only by OS but by architecture as well.

[2019-10-14 14:27] eborden commented on #427
:point_up: agreed. 2.x is in end of life. PRs are accepted for bug fixes, but we are focusing on 3.x.

[2019-10-14 14:32] eborden commented on #427
@vdukhovni it is also good to note that stackage nightly is on 3.x, which is a good indicator that support will spread across the ecosystem.

[2019-10-14 18:09] vdukhovni commented on #427
The reason I reported an issue with 2.8, is that I am looking to contribute a PR for `warp` that fixes races in its acceptor loop shutdown logic. And I don't know which version of `network` might be used by someone building an updated version of `warp`. Can I assume it will be a 3.x build?

And in fact, though I've not yet opened a similar issue for 3.x, some of the same sort of usability gaps exi

[2019-10-15 01:38] kazu-yamamoto commented on #427
Warp supports both `network` v2 and v3 currently. But personally, I assume `network` v3 for Warp.

If you want to bring big changes to `network`, v4 is perfectly suitable. For instance, we should change fix #426 probably resulting in breaking backward compatibility.

[2019-10-21 18:08] epogrebnyak commented on #420
Similar error on Windows:

[code]

[2019-10-31 02:35] kazu-yamamoto opened #429 "getaddrinfo cannot be statically linked if glibc is used"
For easy deployment of network programs in Haskell, it would be nice if all libraries were statically linked. Golang does this well as we know.

Unfortunately, it appeared that `getaddrinfo` in `glibc` has to be always dynamically linked due to `libnss`. Now we have the `dns` library, I would like to implement `getAddrInfo` purely in Haskell.

[2019-10-31 21:25] eborden commented on #429
Static linking would be lovely.

[2019-10-31 23:45] kazu-yamamoto commented on #429
`dns` depends on `network`. So, we need to refactor them a lot, unfortunately.

[2019-11-06 13:19] vrom911 commented on #419
Hey @kazu-yamamoto, have you had a chance to check this out?

[2019-11-15 02:11] kazu-yamamoto opened #430 "Generalizing ByteString with the ByteArray typeclass"
Currently all IO functions are bound to `ByteString`. Is it a good idea to generalize `ByteString` with the `ByteArray` typeclass in the `memory` package where `ByteString` and `Bytes` are its instance by default.

@snoyberg @vincenthz @ocheron Any suggestions?

[2019-11-15 04:35] snoyberg commented on #430
I don't have a yes/no answer. Let me make sure I understand the trade-offs:

Advantages:

* Less visual noise in code if someone is using a type besides `ByteString`
* Better efficiency potentially for non-`ByteString` code due to no buffer copying (not certain the buffer copies will always happen)

Disadvantages:

* Extra dependency for `network`
* Slightly more complex error messages/type signat

[2019-11-15 06:02] kazu-yamamoto commented on #430
Probably generic `Network.Socket.ByteArray` is added in addition to the current specific `Network.Socket.ByteString`. If so, disadvantage is only extra dependency for `ByteString` users.

[2019-11-15 06:03] ocheron commented on #430
It seems the library already has `Buf` functions taking pointer and length, which is the most general API.

[2019-11-15 10:12] kazu-yamamoto commented on #430
@ocheron You are right. 3rd party libraries can create send/recv APIs for pinned objects such as `Bytes` through `Buf`.

I would like to close this issue.

[2019-11-15 10:12] #430 closed

[2019-11-17 07:03] ocheron commented on #430
Still the constraints are really different for send and recv.

The send direction is not difficult and would avoid a buffer copy with `convert`.

For the recv direction, there is a fundamental problem due to the fact that the size received is not the size initially allocated. `Bytes` has nothing like `createAndTrim` and would require a copy anyway.

[2019-11-18 03:30] kazu-yamamoto commented on #430
If I understand correctly, `createAndTrim` also copies data in the case where the size received is less than the size initially allocated.

[2019-11-18 20:45] ocheron commented on #430
Yes correct, I haven't looked deeply enough.

[2019-11-22 07:39] #419 closed

[2019-11-22 07:43] kazu-yamamoto opened #432 "Releasing 3.1.1.1"
@eborden To rescue GHCJS, we should release v3.1.1.1.

Cc: @vrom911

[2019-11-22 17:08] eborden commented on #432
Candidate is up for 3.1.1.1

http://hackage.haskell.org/package/network-3.1.1.1/candidate

[2019-11-25 14:16] kazu-yamamoto commented on #432
Please go ahead.

[2019-11-25 15:29] eborden commented on #432
Published: http://hackage.haskell.org/package/network-3.1.1.1

[2019-12-10 14:03] Shrinker42 commented on #420
I've tried with Stack 2.1.3 with network-2.8.0.1 and network-3.1.1.0 and unfortunately can't install it either, but I am consistently getting a different error:
`configure: error: C compiler cannot create executables`
`[...]`
`Process exited with code: ExitFailure 77`

Looking through the configure.log, I see this leading up to it:
`configure:2783: checking whether the C compiler works`
`configure

[2020-01-16 06:56] saurabhkukade opened #434 "Correction in echo client program in demo example on hackage"
While reading documentation on package I was trying out given demo example and found error in the program.

[code]

`SendAll` has a type  `SendAll :: Socket -> ByteString -> IO ()` but in example second argument is passed as `[Char]` instead of `ByteString`

correction: `sendAll s (C.pack "Hello, world!")`

[code]

[2020-01-16 07:05] saurabhkukade commented on #434
Sorry for opening the issue. I missed {-# LANGUAGE OverloadedStrings #-} at the top of the file.

[2020-01-16 07:05] #434 closed

[2020-02-03 23:06] Shrinker42 commented on #420
Good news everyone, I got network-3.1.1.1 working with stack-2.1.3 on Windows 10 with a 64 bit GHC! I'm still incredulous that I can now write the kind of post I would have been happy to find after running into this problem. This was so frustrating. :D

After failing many times, I gave trying to compile this another time. This was my first time working with a .sh script and stuffing it full of deb

[2020-02-04 07:42] epogrebnyak commented on #420
That is a lot of investigation, thanks for all the detail!

вт, 4 февр. 2020 г., 1:06 Hai <notifications@github.com>:

[2020-02-10 05:52] complyue opened #437 "Change u_int32_t to uint32_t for more portable"
https://github.com/haskell/network/blob/467a59a166e27cf6775f7c58b55bd6838b0f9386/include/HsNet.h#L96

Building on SmartOS x64, I don't know why 2.8 can be built without problem, but building 3.1.1.1  encountered the following failure:

[code]

I suppose `uint32_t` is equivalent and more portable according to https://lists.freedesktop.org/archives/release-wranglers/2004-August/000926.html

while wi

[2020-02-13 23:47] larskuhtz opened #438 "gracefulClose stops servers due to a lot of TCP states"
We run a p2p network with Haskell nodes using `network` + `tls` + `warp` for the server and `network` + `tls` + `http-client` for the client components.

We observed that nodes that are using `network` version `< 3.1.1.0` have been running without issues for weeks, while nodes that are using  `network >=3.1.1.0` are stopping to make and serve requests after running for a few days.

Bad nodes don't

[2020-02-15 17:26] tim2CF opened #439 "can't install on docker + nix-2.3 (nixos-19.09)"
Steps to reproduce:

[code]

causes error

[code]

the same error for latest release **v3.1.1.1**

[2020-03-05 18:23] larskuhtz commented on #438
Please let me know what additional data would be helpful to diagnose the issue. I can provide larger TCP dumps and/or detailed netstat infos if needed. I can also provide direct ssh access to affected machines, if that's helpful for understanding or solving the issue.

[2020-03-11 13:21] maxild opened #440 "Cannot build network 3.1.1.1"
When I run

[code]

This happened when I tried to build haskell-ide-engine. More details about about my environment is written [here](https://github.com/haskell/haskell-ide-engine/issues/1688)

[code]

The build does seem to have problems with gcc

[code]

I am not using gcc myself, so need help here.

## Addendum

I am able to build (install) network 3.1.1.1 on my macbook using the latest xcode c

[2020-03-16 01:44] kazu-yamamoto commented on #438
Sorry for the delay. This is probably due to `gracefulClose`. First of all, if you are using `warp` < 3.3.4, please upgrade to `warp` >= 3.3.5. Since 3.3.5, `warp` uses `close()` for HTTP/1.1 by default.

Even if the problem continues, please check if HTTP/2 connections are used. If so, please use `setGracefulCloseTimeout2 0` to disable `gracefulClose` for HTTP/2. If this fixes the problem, the so

[2020-03-16 02:09] fosskers commented on #438
We are definitely using the newest `warp`, so we'll try it with `setGracefulCloseTimeout`.

[2020-03-16 02:20] kazu-yamamoto commented on #438
This article would help your understanding: https://kazu-yamamoto.hatenablog.jp/entry/2019/09/20/165939

[2020-03-16 03:22] kazu-yamamoto commented on #439
@tim2CF Does your system support IPv6?

[2020-03-16 03:26] kazu-yamamoto commented on #437
`u_int32_t` was introduced before the current maintainers became maintainers. So, we don't have strong opinions about that. It looks reasonable for me to change it to `uint32_t`. Would you send us a PR?

[2020-03-16 03:29] kazu-yamamoto commented on #440
I guess that the `PATH` environment variable is set incorrectly.

[2020-03-16 06:37] #437 closed

[2020-03-16 07:24] tim2CF commented on #439
Docker supports IPv6 only if your host system is Linux.
I'm running docker on Mac, and have this issue. I assume Windows users have it as well.
Is IPv6 so required feature to use this library? Because previous versions of it worked just fine.
IPv6 support for Mac/Windows was [reported](https://github.com/docker/for-mac/issues/2282) multiple times, but docker team just ignoring it. Many developers

[2020-03-16 09:14] kazu-yamamoto commented on #439
OK. I will think how we can improve this test case.

[2020-03-17 02:26] #432 closed

[2020-03-17 08:36] tim2CF commented on #439
thanks!

[2020-03-17 12:32] kazu-yamamoto commented on #439
@eborden @Mistuke I cannot find any ways to detect IPv6-capability of a host or to check if "::1" is assigned to any network interface. Do you know any?

If we all don't know, I would like to propose simply disabling this test item.

[2020-03-17 22:24] Mistuke commented on #439
On Windows the `WSCEnumProtocol` API can be used to detect if the host has support for a particular protocol.

[2020-04-06 11:04] schmittlauch opened #444 "Thread safety of Datagram send and receive"
The package documentation claims that `send` and `receive` operations on the same socket are not thread safe:

In a [discussion on StackOverflow](https://stackoverflow.com/a/61049133/9198613) though the opinion was brought up that in POSIX, `send`, `sendTo`, `receive` and `receiveFrom` are defined as atomic operations, making them thread safe at least for Datagram sockets.

With this library mostl

[2020-04-08 06:23] kazu-yamamoto commented on #427
@vdukhovni I believe that we are ready to accept this proposal. Would you send a PR?

[2020-04-08 06:40] kazu-yamamoto commented on #444
I'm not sure that these API for UDP is thread-safe because they would involve the IO manager.

[2020-04-08 11:08] schmittlauch commented on #444
Can you elaborate on this? AFAIK the GHC IO manager is built around `epoll`, notifying the runtime once new data is available on a socket and operations built on it might be unblocked.
So my guess is that if the OS API is still designed in a way to make `sendTo` and `recvFrom` atomic, `epoll` notifications will only be triggered once these atomic operations have finished each.

------

The reason

[2020-04-08 11:43] schmittlauch commented on #444
@kazu-yamamoto I found a [discussion on that topic](https://chat.stackoverflow.com/rooms/180481/discussion-between-k-a-buhr-and-dfeuer) that suspects the reason behind the non-thread-safety remark in the documentation to be the `close` behaviour of `fdSocket`s, introduced in 30b7d7971b5e60da13dcb3c58244c66f8a308380.
So that would imply that re-using sockets accross threads is fine as long as they

[2020-04-08 22:20] schmittlauch commented on #444
While digging through some Haskell project code dealing with UDP I've found several code bases where multiple threads use the same Datagram socket concurrently.

All of them are from earlier then 2018 and thus before the commit introducing that note into the docs.
Still it looks like a significant change where it is weird that the reasoning behind it is so hardly apparent.

[2020-04-08 23:53] kazu-yamamoto commented on #444
@schmittlauch First of all, if you would like to use multiple workers after *accepting* a so-called *listen* socket for UDP, please give a look at my blog article.

https://kazu-yamamoto.hatenablog.jp/entry/2020/02/18/145038

The "New connections" section describes how to use UDP like TCP.

[2020-04-08 23:54] kazu-yamamoto commented on #444
Second, I don't worry about `close` this time. It's a issue when sockets are reused.

[2020-04-08 23:59] kazu-yamamoto commented on #444
Third, IO manager.

When `recvfrom(2)` in `recvFrom` successes, there is no problem.

Otherwise, `recvFrom` asks the IO manager to wake up itself when data are available. Suppose that another instance of `recvFrom` also asks the same thing to the IO manager. When data are available, what happens? I'm not sure. I guess a race happens. The winner can read the data. The loser's `recvfrom(2)` fails ag

[2020-04-09 00:02] kazu-yamamoto commented on #444
@vdukhovni might be interested in this topic.

[2020-04-09 00:05] kazu-yamamoto commented on #444
@schmittlauch Note that the technique described in my blog is *NAT-friendly*.

[2020-04-09 00:11] kazu-yamamoto commented on #444
NAT-friendly code is available here: https://github.com/kazu-yamamoto/quic/blob/master/Network/QUIC/Socket.hs#L29

Of course, this approach is fragile to NAT-rebinding.

[2020-04-09 00:14] kazu-yamamoto commented on #444
`Network.Run.UDP.runUDPServerFork` is the utility for this purpose.

https://hackage.haskell.org/package/network-run-0.2.2/docs/Network-Run-UDP.html

[2020-04-09 07:12] vdukhovni commented on #444
I'm willing to comment.

Indeed for UDP sockets with multiple polling threads, without some sort of locking (and consequent overhead) you get thundering herd if you just naïvely share the UDP server socket.  Nothing breaks, but it scales very poorly when there are many idle threads waiting for a message.  All the threads get woken up, one reads the message, the rest go back to epoll()/kqueue(), ..

[2020-04-12 07:08] vdukhovni commented on #444
Bottom line, I think this issue could be closed.  Yes `send`, `sendTo`, `recv` and `recvFrom` are thread-safe, but given the IO-manager glue racing multiple threads to read from the same socket performs poorly. You get much better results with `ReusePort` (on servers).

I don't know of a good reason for UDP clients to share a socket, you generally want each client to see just the responses to the

[2020-04-12 07:19] vdukhovni commented on #444
Finally, if the processing for each client request is expensive enough (high latency), `ReusePort` may lead to higher latency for client requests when a request lands on a thread currently processing a request.  In such situations it makes sense to have a small number of threads handling the network, and placing requests in a shared queue, with a larger pool of worker threads processing the reques

[2020-04-12 12:50] schmittlauch commented on #444
Thanks to both of you for your helpful comments.

Yes, that'd be helpful.

Forking a thread for each received message (maybe with a semaphor for limiting the maximum number) allows for more dynamic scaling. Instead of having a fixed amount of worker threads running independently from the actual application load, threads are spawned according to the actual demand.

With this approach, the sending o

[2020-04-13 06:08] vdukhovni commented on #444
Would you like to suggest specific text in a pull request?  Perhaps Yamamoto-san (@kazu-yamamoto) would be willing to review and merge less confusing text.  You don't need to explain every detail, just take care of anything that's outright confusing or misleading, keeping the explanations reasonably concise.

Basically racing multiple readers for the same socket should be avoided for efficiency re

[2020-04-29 10:31] complyue opened #446 "Consider adding mcast support again?"
I see #381 has been concluded, but as I'm re-implementing in Haskell a swarm control infrastructure managing clusters of number crunching servers originally implemented in Python, I miss basic UDP mcast support very much. No streaming requirement, just job announcement and discovery with single frag UDP packets, further comm always resorts to TCP connections.

**network-multicast** seemingly will

[2020-04-29 23:07] kazu-yamamoto commented on #381
When  #445 is merged, we have the generic API.

[2020-04-29 23:09] kazu-yamamoto commented on #446
We will have such APIs when #445 is merged :)

[2020-04-29 23:16] kazu-yamamoto commented on #381
Not correct. `master` already has `getSockOpt` and `setSockOpt`!

[2020-04-29 23:16] kazu-yamamoto commented on #446
Not correct. `master` already has `getSockOpt` and `setSockOpt`!

[2020-04-30 07:53] complyue commented on #446
sure, then I'll use it.

[2020-04-30 07:53] #446 closed

[2020-05-09 08:09] complyue opened #447 "example echo server seems leaking socket on error binding"
In top-level doc, the minimal example echo server uses `Control.Exception.bracket` like this:

[code]
I happened to copy the configuration with another machine's IP address to run on my dev machine, then of course it failed binding to the IP, but in this case I suspect `sock` above is leaked without `close`, as `open` failed at all, so `sock` is not given to `bracket` for it to do the cleanup.

Is

[2020-05-09 12:06] complyue commented on #447
Got a suggestion from Merijn Verstraaten
https://mail.haskell.org/pipermail/haskell-cafe/2020-May/132258.html

[code]

Should I draft a PR for an doc update?

[2020-05-11 00:37] kazu-yamamoto commented on #447
@complyue Yes, please!

[2020-05-11 07:06] complyue commented on #447
@kazu-yamamoto I just find the example links to https://github.com/kazu-yamamoto/network-run, I'd like also create a PR there to update it consistently.

Give me a go or nogo please.

[2020-05-11 08:37] kazu-yamamoto commented on #447
Definitely, "go". :-)

[2020-05-11 17:55] complyue commented on #447
@kazu-yamamoto today in updating my own app, I happen to encounter a situation where my tcp client keeps causing server side error ` hGetBufSome: resource vanished (Connection reset by peer)`, I've encountered similar problems in Go and Python, solved by shutting down the socket before close, but seems can not get over it with Haskell yet.

My client side code comes up for now looks like:

[code]

[2020-05-12 09:38] complyue commented on #447
@kazu-yamamoto I just realized `gracefulClose` be relevant, shouldn't it be generally preferred over `close` ? Maybe I should update my code and the examples all to use `gracefulClose` in place of `close` ?

[2020-05-13 01:12] kazu-yamamoto commented on #447
@complyue Did you rewrite your client to use `Socket` directly? I don't recommend `Handle` for network programming in Haskell.

[2020-05-13 04:37] complyue commented on #447
Yes, I just did the rewrite.

As I experienced it, doing socket recv through a wrapping `Handle`, with `hGetSome`, won't cooperate with peer's shutdown or `gracefulClose` .

Can we put some warning in doc of `socketToHandle` ? Or even deprecate it for removal after a few releases?

[2020-05-13 05:11] complyue commented on #447
@kazu-yamamoto a side concern, at times I think to have my lib work with network-2.8.x because all my team members use stackage lts-14.x (for GHC 8.6.5) which is stuck with 2.8 to date, I can instruct them to state `extra-deps: [network-3.1.1.1]` in every `stack.yaml`, but worrying it'll break other dependencies some day. Well as `gracefulClose` was added since 3.1, and I suppose it a must-to-have

[2020-05-13 06:15] kazu-yamamoto commented on #447
Please improve the doc!

[2020-05-13 06:17] kazu-yamamoto commented on #447
@snoyberg Could you answer the question from @complyue?

[2020-05-13 07:08] snoyberg commented on #447
We don't bump major version numbers inside an LTS series, so by the LTS rules network 3 will never make it into lts 14.

[2020-05-13 21:01] vdukhovni opened #450 "sendMsg is likely not GC-safe and may crash"
The [sendMsg implementation](https://github.com/haskell/network/blob/54b872f7c80ecffa1d59451e77d3c54dd3251c64/Network/Socket/ByteString/IO.hsc#L286-L299) is likely not GC-safe.  It uses pointer values outside `withForeignPtr`.  The underlying ByteStrings that own the pointers may be deallocated before the pointers are used.

I think it is necessary to retain and `touch#` all the foreign pointers o

[2020-05-13 21:04] vdukhovni commented on #450
For example the `[Cmsg]` argument of `recvMsg` is likely also used in an unsafe way.

[2020-05-13 21:06] vdukhovni commented on #450
Also `withIOVecfromBS`, which is then used in `sendMany`...  The issue (if I'm not mistaken) is pervasive.

[2020-05-14 00:31] kazu-yamamoto commented on #450
Nice catch!

@vdukhovni  Would you review #451?

[2020-05-14 01:29] kazu-yamamoto commented on #284
Closing via #433.

[2020-05-14 01:29] #284 closed

[2020-05-14 01:35] kazu-yamamoto commented on #414
@eborden Do you have any idea to implement #151? If you explain the guideline on how to address this issue, I can try.

Or should we release version 4 without fixing #151?

[2020-05-15 00:58] kazu-yamamoto commented on #450
Closing via #451.

[2020-05-15 00:58] #450 closed

[2020-05-16 06:23] chrismwendt commented on #212
I don't fully understand why, but `withConnectedSocket` was removed in https://github.com/haskell/network/commit/ceba91114e64230adeb5e9810151d927bb5d476b Perhaps this reasoning a few weeks prior is relevant? https://github.com/haskell/network/issues/286#issuecomment-355452945

What's the status of this functionality (detecting when a client disconnects/closes so that the server can kill an expensi

[2020-05-17 01:48] kazu-yamamoto commented on #212
The current `Socket` does not have status. We decided to not maintain socket status in Haskell side.

This is a famous issue of *system call*. Not Haskell problem. There is no way to detect socket status in the OS kernel without trying to send or receive data.

I don't know what you want to implement exactly. If you want to close idle connections, the `timeout` and `recv` can be used. If `timeout`

[2020-05-17 02:48] chrismwendt commented on #212
Thanks for the definitive answer 🙇‍♂️

Is there a way that I could convince myself of this, too? It seems to work in Node.js:

[code]

[code]

[2020-05-17 18:54] eborden commented on #414
I'll spend some time formulating something. Even a domain specific exception like `newtype NetworkException = NetworkException String` would be an improvement over the current situation, but there is likely a lot more granularity that can provide utility.

@kazu-yamamoto I'm attempting to round up the current unreleased changes (see unreleased in the `CHANGELOG.md`). Here is what I have:

* Define

[2020-05-17 19:36] eborden commented on #151
@kazu-yamamoto Here is a quick pass at existing `IO` exceptions in `network`.

* This absorbs existing conditions into a sum type, but does not seek to refine or call out more granularity than is already present in the existing stringly typed API.
* Many existing error constructors accepted location strings, this was papering over the lack of callstacks. We can utilize `HasCallStack` via `throwNet

[2020-05-17 19:53] eborden commented on #151
There is also probably room for splitting into multiple exception types. One logical split is configuration/platform vs execution exceptions. In most cases configuration exceptions would never be caught, but instead just benefit from clear granular reporting.

[code]

[2020-05-17 20:49] kazu-yamamoto commented on #414
@eborden First of all, no rush. I can wait for your work.

New `SocketOption` maintains backward compatibility except `CustomSockOpt`. This means that most network code can compile with `network` v4 without modification.

`CustomSockOpt` was removed since I don't know how to express pattern for the tuple. If we can express the pattern, we can provide perfect backward compatibility.

[2020-05-17 20:52] kazu-yamamoto commented on #414
@eborden Nice work for changelog. Thanks.

I think we should describe new extensible APIs: `getSockOpt` and `setSockOpt`. Some users have been waiting for them.

[2020-05-17 20:57] kazu-yamamoto commented on #151
I don't have any preference.

To express errors which do not match your definition, `OtherError CInt` or something is necessary, I guess.

[2020-05-17 20:59] kazu-yamamoto commented on #212
I guess that the `close` callback is called when `recv(2)` returns 0.

[2020-05-17 21:02] kazu-yamamoto commented on #212
I think that node is using `epoll(2)`. When `epoll()` tells that RX is available for a socket, `recv(2)` is called. RX gets available when either any data is received or EOF (TCP Fin) is received.

[2020-05-17 21:44] eborden commented on #414
@kazu-yamamoto I might also debate whether removing `CustomSockOpt` represents an `Epoch` change or a `Major` change (`Epoch.Major.Minor.Bug`). The community style for `Epoch` would signal a major departure in design. Really we are just opening `SocketOption` to improved extensibility with a slight break in the original design for extension. As well this break is type checkable. I'd argue that is

[2020-05-17 22:44] kazu-yamamoto commented on #414
v3.2 sounds good to me.

At least, we can get back `CustomSockOpt` if we define `SocketOption` using a tuple. If we do so, we can keep v3.1.

[2020-05-17 22:59] eborden commented on #414
That is a solid design tradeoff for backwards compatibility.

[2020-05-17 23:04] eborden commented on #414
I'd support a deprecated pragma if PVP 1.1 was official, but as of today deprecation is still considered a breaking change.

[2020-05-19 01:50] kazu-yamamoto commented on #414
@eborden Could you confirm that `master` maintains backward compatibility with 3.1?

If so, we can go forward step by step:

- Releasing `master` as v3.1.2.0
- Releasing v3.1.3 when new error handling is completed

Let's drop `Strict` stuff for a while. It's likely v4 issue.

[2020-05-19 01:50] kazu-yamamoto commented on #447
This is done. Let's close.

[2020-05-19 01:50] #447 closed

[2020-05-19 01:56] kazu-yamamoto commented on #414
- [ ] #439 should be fixed in v3.1.2.0

[2020-05-19 01:59] kazu-yamamoto commented on #438
@larskuhtz Would you close this issue if already resolved?

[2020-05-19 02:00] kazu-yamamoto commented on #440
@maxild Any progress?

[2020-05-19 02:03] kazu-yamamoto commented on #444
@schmittlauch Would you like to improve the doc or just close this issue?

[2020-05-19 02:05] kazu-yamamoto commented on #427
@vdukhovni If you wan to include this new feature to v3.1.2.0, please send us a PR as soon as possible. You can add this new feature in any new versions.

[2020-05-19 02:06] kazu-yamamoto commented on #420
Any progress on this issue?

[2020-05-19 02:11] kazu-yamamoto commented on #36
@Mistuke Would you give a look at this issue and close it if possible or if too old.

[2020-05-19 02:11] kazu-yamamoto commented on #75
@Mistuke Would you give a look at this issue and close it if possible or if too old.

[2020-05-19 02:13] kazu-yamamoto commented on #89
@Mistuke Could you try this again?

[2020-05-19 02:15] kazu-yamamoto commented on #91
I would like to close this. Please reopen if necessary.

[2020-05-19 02:15] #91 closed

[2020-05-19 02:27] kazu-yamamoto opened #457 "Releasing v3.2"
Breaking changes may include:

- [ ] Using `StrictData` and removing bangs as many as possible (#454)
- [ ] Introducing `Strict` only if we reach consensus (#412)
- [ ] #426

[2020-05-19 02:29] kazu-yamamoto commented on #457
Since`Strict` changes behavior, we need the following to pass tests:

[code]

[2020-05-19 02:30] kazu-yamamoto commented on #457
For `Strict`, `Storable` instances should be defined with lazy bindings.

[2020-05-19 06:12] kazu-yamamoto commented on #438
I had the same experience. I will try to fix.

[2020-05-19 11:47] maxild commented on #440
I have not looked into it lately. I must say that WSL 2 it a great idea and overall a great move for people/devs on windows, but not at all the best way to run Linux. So I have migrated to a bare-metal (no hyper-V or anything) debian-based Linux (popos) distro. Right now my top priority is learning to use linux efficiently, and then I guess WSL will be easier to diagnose and use next time I need i

[2020-05-19 15:14] fosskers commented on #438
Thank you! Should the `3.1.1.x` series be marked as deprecated on Hackage?

[2020-05-19 17:09] schmittlauch commented on #444
@kazu-yamamoto I am still tinkering with sockets and networking, so I still need some time to gather experience.
After that, I am willing to improve the docs.

[2020-05-19 17:19] BestYeen commented on #420
Wow, time flies when a pandemic turns the world upside-down.
I'll resume work on this tinkering and guide asap.

[2020-05-19 20:12] kazu-yamamoto commented on #438
Yes. I will do so.

[2020-05-19 20:34] kazu-yamamoto commented on #440
OK. Let's close this. Please reopen if necessary.

[2020-05-19 20:34] #440 closed

[2020-05-19 20:51] kazu-yamamoto commented on #438
@snoyberg I'm CC:ing to you here since the current approach of `gracefulClose` was suggested by you and this is relating to Warp.

TCP and server: `CLOSE_WAIT` is the state that the TCP stack of the server received TCP FIN but not send TCP FIND. This means the server does not `close(2)` the socket yet. The TCP stack waits forever in this situation.

Warp: When TCP FIN is received, `connRecv` retur

[2020-05-19 21:03] BestYeen commented on #420
Okay, I've reduced my workaround to get this working to a minimum and ended up with this very clear and simple guide.
If you want to install Network with Stack on Windows for a 64 bit Haskell setup, the following works. I don't know why it works or how to fix the configure script in a clean way, but it's the end result of my endless debugging.

everything in cmd is in []
1. [stack unpack network]

[2020-05-19 21:11] kazu-yamamoto commented on #438
It might be wise if we call `recvBufNoWait` after `shutdown` for the case where FIN is already received. (Like C's `do { } while ()` loop).

[2020-05-19 23:52] kazu-yamamoto commented on #420
@Mistuke Could you incorporate this fix?

[2020-05-20 03:14] snoyberg commented on #438
I think it was actually @nh2 who proposed the implementation of `gracefulClose`. Maybe he has some thoughts, I unfortunately don't.

[2020-05-20 03:53] kazu-yamamoto commented on #438
Approach 4 in this article (https://kazu-yamamoto.hatenablog.jp/entry/2019/09/20/165939) was proposed by you. :-)

[2020-05-20 04:12] snoyberg commented on #438
Fair enough :) What I mean is that I don't really know the details of the underlying TCP states, and don't have much insight into that side of the equation.

[2020-05-20 04:29] kazu-yamamoto commented on #438
If I don't find any solutions for Approach 4 and Approach 3 solves this issue, I will remove Approach 4 and use Approach 3.

[2020-05-20 04:37] Mistuke commented on #36
I'm closing this as it doesn't make sense to try to hack this together considering we're changing the I/O manager in GHC entirely.

[2020-05-20 04:37] #36 closed

[2020-05-20 04:39] Mistuke commented on #89
Cabal won't support multiple build types for projects and you can't have different build-types for internal libraries. Also all Windows toolchain distributions ship msys2 these days.

[2020-05-20 04:39] #89 closed

[2020-05-20 04:40] Mistuke commented on #361
I believe this is fixed.

[2020-05-20 04:40] #361 closed

[2020-05-20 04:43] Mistuke commented on #363
This doesn't seem like a network issue. re-open if it is, but nothing here points to it being so..

[2020-05-20 04:43] #363 closed

[2020-05-20 04:46] fosskers commented on #438
@larskuhtz might also have some thoughts tomorrow.

[2020-05-20 04:51] Mistuke commented on #420
Neither network, nor ghc set the `-m32` or any multilib for `GCC` at all. I don't think this is a network bug. you have something on your system that is requesting a 32-bit multilib but it certainly isn't network.  Forcing a 64-bit multilib would be wrong as that would break cross compilation.

You need to figure out what's setting `CPPFLAGS` or `CFLAGS` to `-m32`.  I do not find any mention of `m

[2020-05-20 12:16] BestYeen commented on #420
I haven't meddled with my Stack install in any way and Network is the only one I've encountered that's not compiling out of the box.

I can say that -m64 works on my system, but that's really all - It's just a workaround that gets me Network. I'm really not familiar with how exactly configure should behave at all and don't see it as a clean solution.

Maybe on the one hand the workaround shows tha

[2020-05-20 20:03] larskuhtz commented on #438
I haven't gotten to take a closer look at this for a while. I remember looking at the code for graceful close a while ago and didn't spot anything suspicious. But I am not an expert. I am happy to test changes. It would usually take a few days to reproduce the issue.

[2020-05-20 20:05] larskuhtz commented on #438
Looking at the code again, I wonder whether the calls `putMVar mvar TimeoutTripped` and `putMVar mvar MoreData` should use `tryPutMVar` instead of `putMVar` so that the looser of the race doesn't get stuck.

[2020-05-20 20:26] kazu-yamamoto commented on #438
@larskuhtz I'm going to give up the race approach and would like to switch to `threadDelay`.

Would you test https://github.com/kazu-yamamoto/network/tree/next-version?
b1c8b6e5fb5f89d7e9b41470394a465ad98d0f76 is the hack.

[2020-05-20 20:28] kazu-yamamoto commented on #420
@Mistuke Thank you for considering. I wonder why several people are suffering from this issue. Do they have a common pattern?

[2020-05-20 22:22] eborden commented on #414
@kazu-yamamoto I created a project to track progress on 3.1.2.0.

https://github.com/haskell/network/projects/4

[2020-05-20 22:23] nh2 commented on #438
The related PR in which `gracefulClose` was introduced: https://github.com/yesodweb/wai/pull/759

Original issue: https://github.com/yesodweb/wai/issues/673

I think that's the key question we need to answer, probably before changing anything.

That's a good point, but it seems to me it cannot affect whether `close` is called. `wait <- takeMVar mvar` should terminate as long as anybody calls `putM

[2020-05-20 22:24] eborden commented on #457
I created a project for tracking progress on 3.2.0.0.

https://github.com/haskell/network/projects/5

[2020-05-20 22:28] nh2 commented on #438
@kazu-yamamoto Another potentially related question:

For non-threaded, `recvEOFloop` loops and calls `recvBufNoWait s buf` multiple times.

But for threaded, `recvEOFev` calls it only once and does not loop. Is that intended?

I suspect it is a bug, because it means that after `shutdown()`, warp only receives 1024 more bytes and then immediately calls `close()`, thus not waiting up until the spec

[2020-05-21 00:18] kazu-yamamoto commented on #438
Yes.

Possibly. But this bug is not relating to this issue.

[2020-05-21 00:22] kazu-yamamoto commented on #438
@nh2 If we keep the race approach, we should do:

- Call `recvBufNoWai` first (and then call `recvEOFev`) for the case where FIN is already received
- Change `putMVar` to `tryPutMVar` as suggested by @larskuhtz

[2020-05-21 00:23] kazu-yamamoto commented on #438
@larskuhtz I'm also testing no race version on https://mew.org/ where I saw the same issue.

[2020-05-21 02:10] larskuhtz commented on #438
@nh2

It's some time ago that we last run binaries with the affect version of the network package. We don't keep telemetry data long enough to answer that question now. Most connection are made via clients using `http-client-tls`. If I remember correctly `http-client` only supports HTTP/1.1, but I am not 100% sure. Since those are public servers on a public P2P network I can't rule out that some n

[2020-05-21 02:30] larskuhtz commented on #438
Could the following observation be some clue:

Not sure if that means if the sockets aren't associated with the application any more. I wasn't aware that sockets in `CLOSE_WAIT` state can be disassociated from the application that opened them.

[2020-05-21 02:43] nh2 commented on #438
Indeed https://unix.stackexchange.com/questions/10106/orphaned-connections-in-close-wait-state suggests that should be impossible, and presents only 2 explanations:

* you don't have enough privileges view the process (missing `sudo` or some use of containers?)
* the ports were opened by the kernel (e.g. NFS module)

[2020-05-21 02:51] larskuhtz commented on #438
I think, I can rule out the first point and the second point would be a strange coincidence. Maybe those sockets still belong the process but are in some state that confuses `losf` and `netstat`? Anyways, it might as well just be a red herring.

[2020-05-21 05:23] vdukhovni commented on #427
OK, I'll try to get that done shortly.

[2020-05-21 08:13] Mistuke commented on #420
The configure script has no mention of `-m32` or sets any flags  http://hackage.haskell.org/package/network-3.1.1.1/src/configure

Your toolchain thinks it needs to cross compile. So either something is setting CFLAGS or your environment is thinking it's a 32-bit target.  What is the output of `host`, `build`  and `target`. or better yet. attach your `config.log` of the unmodified installer.

[2020-05-21 08:17] Mistuke commented on #144
Is there a repro for this?

[2020-05-21 08:31] BestYeen commented on #420
Here's a fresh try that errs.
[config.log](https://github.com/haskell/network/files/4661376/config.log)

In the log there is an -m32 switch, and before that, there are errors about unrecognized command line options such as -qversion.
What I also note is that the PACKAGE_VERSION in the script is 3.1.0.0 while the folder name has 3.1.1.1 in it. :)

[2020-05-21 08:55] Mistuke commented on #420
That still doesn't line up... It's saying your `CFLAGS` contains `-m32 ` which it has at the very beginning.. so have you checked your environment variables... particularly the environment variables *inside* the stack shell that's executing configure.

[2020-05-21 10:06] BestYeen commented on #420
Wow... you're right. I just found a global environment variable CFLAGS=-m32 in my system.
I have no idea where it came from, but my System is very old already. I should have checked that earlier.
I've now removed that setting and suddenly Network installs just fine out of the box. I feel a bit dumb now. x_x

@chenyulue while we're just investigating leads and my personal problem vanished, does Net

[2020-05-21 10:22] chenyulue commented on #420
@BestYeen Recently I have used stack-2.3.1 to install network of the latest version successfully.

[2020-05-21 10:30] BestYeen commented on #420
Sounds good. :D

@epogrebnyak, @jneira, @hanrai does Network install fine out of the box for you too nowadays?

[2020-05-23 18:41] mastarija opened #462 "Windows stuck on build step with cabal"
I'm trying to install latest `network-3.1.1.1` on Windows with cabal. This is what I run:

[code]

However, no matter how many times I try, it always gets stuck on build step. I've let it run for quite a while several times but the build never finishes. Also there are no reported errors during the process.

Here's the verbose `cabal` output up to the point where it gets stuck and just hangs:

[cod

[2020-05-24 10:36] mastarija commented on #462
Just an update. I have tried downgrading from the latest GHC version `8.10.1` to `8.8.1` and changed Cabal from `3.2.0.0` to `3.0.0.0` but I still have the same problem.

I have a very simple setup which worked with any package I've used so far. I manually download GHC and Cabal and just put them in the system path. This allows me to quickly change my compiler and cabal versions.

I also have MSYS

[2020-05-24 11:26] mastarija commented on #462
Another update, I've made a mistake. I thought I've switched from Cabal `3.2.0.0.` to `3.0.0.0` but that wasn't the case.

Now, `network-3.1.1.1` builds successfully. So basically, I'm unable to build `network` with `GHC 8.10.1` and `Cabal 3.2.0.0`.

I'm guessing this could be a Cabal issue then.

[2020-05-25 00:13] kazu-yamamoto opened #463 "PatternSynonyms vs Show/Read"
`PatternSynonyms` solves the problem of closed sum types. However, it introduced a possible backward compatibility issue relating to `Show` and `Read`:

[code]

It's easy to fix this issue by adding `Read` and `Show` instance by hand. I would like to discuss it's worth doing.

Relating to #459.

Cc: @vdukhovni, @eborden

[2020-05-25 00:18] kazu-yamamoto commented on #463
One approach is:

- Keep the perfect backward compatibility in 3.1
- Throw away the compatibility in 3.2

That is, in 3.1:

[code]

And then, in 3.2:

[code]

I wonder how to warn `show` and `read` to `SocketOption` in 3.1.

[2020-05-25 00:19] kazu-yamamoto commented on #463
Cc: also @infinity0

[2020-05-25 00:20] kazu-yamamoto commented on #463
@eborden Note that we are planning to introduce `PatternSynonyms` to `Family` etc.

[2020-05-25 00:24] kazu-yamamoto commented on #438
I don't see long-stay `CLOSE_WAIT` in my field testing with b1c8b6e5fb5f89d7e9b41470394a465ad98d0f76 so far.

[2020-05-25 01:10] vdukhovni commented on #463
The variant with `showSocketOption ReuseAddr = "ReuseAddr"` is certainly a lot more readable if it ever crops up in an error message, ... having put in the effort with `Family` and `SocketType` my opinion is I guess biased, but am inclined to say this is worth doing, and even the `Read` instance turned out to be easier than I thought it would be.

[2020-05-25 01:22] nh2 commented on #438
Did you see one (could you repro) without the commit?

[2020-05-25 03:44] kazu-yamamoto commented on #438
Yes. This issue can be reproduce on mew.org.

[2020-05-25 10:16] Mistuke commented on #364
@eborden @kazu-yamamoto

It's time to start discussing this more, The I/O first version of the I/O manager will be in GHC 8.12 if all goes well https://gitlab.haskell.org/ghc/ghc/-/merge_requests/1224.

That version will be feature complete enough to start work on network (will need some tweaks to support multiple worker threads, not sure I will get that in for 8.12 but 8.14 certainly).

So a coup

[2020-05-25 10:20] Mistuke commented on #364
I have cc'd @coot who has been using an I/O library based on IOCP on Windows at https://github.com/input-output-hk/ouroboros-network/blob/5c253f7533901d2daf528388def065a54947a122/Win32-network/README.md We should ensure we cover their uses as they provide real world use-cases.

[2020-05-25 20:19] kazu-yamamoto commented on #364
@Mistuke Good news! What can I do for you?

[2020-05-25 22:34] vdukhovni commented on #427
Thanks for merging #459 .  Let me know if you want to make the `Read` instance of `Family` more comprehensive...

[2020-05-25 22:34] #427 closed

[2020-05-26 08:34] nh2 commented on #438
@snoyberg and I looked at this in detail and we think that this argument is right. If `putMVar mvar MoreData` happens first, but an async exception arrives before/during `wait <- takeMVar mvar`, then `putMVar mvar TimeoutTripped` could block forever.

We are not quite sure if the `Ev.unregisterTimeout` will correctly cancel a stuck `putMVar mvar` (in which case it's fine that `putMVar` is used), b

[2020-05-26 22:53] kazu-yamamoto commented on #438
@nh2 @larskuhtz Please give a look at f3da242. I will also test this in the real world.

[2020-05-26 22:57] kazu-yamamoto commented on #438
It makes sense to me that the GHC runtime gets inactive when a lot of callbacks remain. Many sockets are probably already closed. Some other sockets remain in `CLOSE_WAIT`.

[2020-05-27 06:37] Mistuke commented on #364
I'd like to take you up on creating a new API that doesn't use `threadWaitRead/threadWaitWrite` as we can't efficiently support those :)

[2020-05-27 06:38] Mistuke commented on #364
Ideally also something that fits with https://github.com/simonmar/async

[2020-05-28 02:29] vdukhovni commented on #463
Anyone else?

[2020-05-28 06:47] coot commented on #364
@Mistuke I am glad to see the changes are moving forward. The requirements for us were

* reliable cancellation of threads that are blocked on reads
* running concurrent reads and writes (it turned out that in the current state of affairs this is deadlocking on Windows).

We have tests that ensure those for our implementation (plus real users, and no complains :)) .  Since we use the same high lev

[2020-05-29 09:37] schmittlauch commented on #444
@vdukhovni One more question: Is there any reason against sending and receiving in parallel on the same socket in 2 different threads, like receiving (and blocking) in one thread while sending (in exactly 1 other thread) at the same time concurrently?

As far as I understood the main reason against using sockets over multiple threads is that the performance degrades when *blocking on `receive`*, w

[2020-05-31 04:08] kazu-yamamoto commented on #438
In my field test, modified approach 4 creates never-ending `CLOSE_WAIT`:

[code]

The timer (0.00/0/0) is never increased.

Probably, I will give up the approach 4.

[2020-06-01 00:27] kazu-yamamoto commented on #444
@schmittlauch

This approach is recommended as written in the manual of `network`. See blow:

[2020-06-01 00:29] kazu-yamamoto commented on #444
We can use two threads to separate sending and receiving safely. :-)

[2020-06-01 00:35] kazu-yamamoto commented on #463
@vdukhovni  Let's add custom `Read` instances. I think that everything is necessary for `SocketType` but only important values are needed for `Family`.

[2020-06-01 00:42] kazu-yamamoto commented on #463
@vdukhovni Please don't use `pure` at this moment. Pleas use `return` instead.

[2020-06-01 00:49] vdukhovni commented on #444
So long as neither thread closes the socket while the other is still active, separate reader/writer threads are fine, one of each per socket.

[2020-06-01 01:43] vdukhovni commented on #463
Just curious, can you explain why?

[2020-06-01 08:39] kazu-yamamoto commented on #463
For backward compatibility. Probably we can throw it away now. But we decided to use `return` in v3.1.

[2020-06-01 10:37] vdukhovni commented on #463
I thought the upcoming release requires at least GHC 8.0, and that `return a == pure a` in all GHC 8.x releases.  Am I not remembering right?

[2020-06-02 00:12] kazu-yamamoto commented on #463
I think it is reasonable to stay with `return` in v3.1 series and use `pure` if necessary in future major versions.

[2020-06-11 01:55] kazu-yamamoto commented on #438
Now I have many never-ending `CLOSE_WAIT`. I give up approach 4. I will merge b1c8b6e to `master`.

[2020-06-12 09:08] epogrebnyak commented on #420
I'm still out ouf luck, with both cabal and stack install (Windows):

[code]

With stack:

[code]

[2020-06-12 09:20] epogrebnyak commented on #420
Here is a trace from stack build, if that is of any help (slighly fresher ghc version):

[code]

[2020-06-12 09:46] jneira commented on #420
* main diff with the issue titale is i am on stack 2.3.1
* `stack unpack network;  cd network-3.1.1.1; stack init; stack build` works for me (versions at the end of the shell session):
[code]

[2020-06-12 12:16] epogrebnyak commented on #420
I think my problems described above are due to non-latin path in user directory, and are not specific to network library.

[2020-06-12 12:37] jneira commented on #420
To ensure i dont hit path issues i usually do:
* Set `%STACK_ROOT%` to a short, ascii path as the official installer suggests
* Set the project root to a short, ascii path
* *Change stack config* to point all relevant paths to short, ascii ones:
  * Adding in `%STACK_ROOT%\config.yaml`:
[code]

[2020-06-12 15:17] epogrebnyak commented on #420
Thnak you @jneira! What is your starting point in installation? No haskell installed - then do you install just stack? I was doing `choco install haskell-dev` and it locks me on home dir username.

[2020-06-12 19:06] jneira commented on #420
I simply download the installer form the official page https://get.haskellstack.org/stable/windows-x86_64-installer.exe. In general i dont use choco although i think it can be handy.

[2020-06-12 20:43] Mistuke commented on #420
This ticket has diverged from the original issue which was a configuration issue. So i am closing it.

[2020-06-12 20:43] #420 closed

[2020-06-13 13:50] epogrebnyak commented on #420
Maybe add a Github Actions with Windows test to demonstrate `network` is installable on Windows?

[2020-07-01 06:39] kazu-yamamoto commented on #463
@vdukhovni Would you like to add custom `Read` instances in v3.1.2?

[2020-07-01 07:16] vdukhovni commented on #463
I didn't know it was up to me.  If nobody else is willing to do it, I'll see what I can do...

[2020-07-02 02:37] kazu-yamamoto commented on #463
Sorry for the ambiguity. I guess that you are the best person to implement it.

[2020-07-05 23:12] archaephyrryx commented on #463
@vdukhovni  recruited me to work on implementing new read/show instances for the various types still missing them, and i went ahead and developed a more robust paradigm for easily implementing many without doubling up on boilerplate pattern-matches for each instance.

I also caught a bug in Network.Socket.Options.

Both my WIP changes and the bug removal are included in a pull request I just filed

[2020-07-06 23:48] kazu-yamamoto commented on #463
@archaephyrryx Thanks.

こちらこそ、よろしくお願いします。

[2020-07-15 17:34] yaitskov opened #467 "Report host/port in connect exception message"
Hi,

I propose to append target address to exception message in connect function.
Haskell doesn't have stack trace support as good as java.
It is really hard to figure out where a problem is if an application connects to many places,
because an exception message doesn't have target domain/ip address and port.

[code]

[2020-07-16 04:16] kazu-yamamoto commented on #467
Could you implement it by yourself and send us a PR?

[2020-07-16 19:33] archaephyrryx opened #468 "Refactoring ProtocolNumber as newtype"
In the current implementation of network, the `ProtocolNumber` type, defined in `Network.Socket.Types`, is given as

[code]

which means that it can only ever be displayed using the `show` method for `Foreign.C.Types.CInt`.

I initially was considering working on redefining it along the lines of

[code]

so that the implicit constraint `Num a => a` on numeric literals would be maintained, and so t

[2020-07-17 00:31] kazu-yamamoto commented on #468
I encourage you to continue this work. Your work would be merged into the next major release (probably soon) because of compatibility issue.

[2020-07-17 07:52] Mistuke commented on #364
WINIO has officially been merged in GHC 8.12. now the fun begins..

[2020-07-19 10:37] Mistuke commented on #364
@kazu-yamamoto @eborden So the main thing I need some help  with is how an asynchronous interface should look like.

The synchronous interface we won't change of course, but what happens on scenarios where you are handling thousands of connections, in these cases while the blocking interface requires thousands of Haskell threads, the bigger issue is the thousands of locks.

In such cases I think a

[2020-07-22 03:12] kazu-yamamoto commented on #414
@eborden After #471 is merged, let's release v3.1.2.0. Please don't forget to update `CHANGELOG.md `. :-)

[2020-07-22 14:59] eborden commented on #414
Sounds good!

[2020-07-25 23:46] #439 closed

[2020-07-25 23:49] kazu-yamamoto commented on #414
@eborden Now it's your turn. Let's release v3.1.2.0.

[2020-07-26 19:58] eborden commented on #414
:+1: I'll give the changelog a once over and get it released this evening.

[2020-08-03 00:29] kazu-yamamoto commented on #414
@eborden Gentle ping.

[2020-08-05 20:47] eborden commented on #414
@kazu-yamamoto I've updated https://github.com/haskell/network/blob/master/CHANGELOG.md to include 3.1.2.0. Many changes were not previously represented there. Please let me know if you see anything I missed or needs further clarification. After you have approved I'll packaged everything up and release.

[2020-08-06 04:51] kazu-yamamoto commented on #414
@eborden LGTM. Let's go.

[2020-08-06 16:00] eborden commented on #414
* [The tag is in place.](https://github.com/haskell/network/releases/tag/v3.1.2.0)
* [Candidate is up.](https://hackage.haskell.org/package/network-3.1.2.0/candidate)

[2020-08-07 01:10] kazu-yamamoto commented on #414
Please don't forget to make 3.1.1.0 and 3.1.1.1 deprecated due to the bug of `gracefulClose`.

[2020-08-07 14:56] eborden commented on #414
- [x] Candidate published
- [x] Older version deprecated
- [x] Cafe message sent

[2020-08-07 14:56] #414 closed

[2020-08-07 18:21] harendra-kumar opened #472 "Is GHC 7.10.3 support officially dropped?"
I do not see any CI for GHC-7.10.3 in .travis.yml and the build is failing for the recent upload.

[code]

See https://travis-ci.com/github/composewell/streamly/jobs/369759795 for more details.

[2020-08-07 18:29] harendra-kumar commented on #472
Ah, I just saw the support policy in README:

[code]

This means only up to 8.6 is supported as of now.

[2020-08-07 18:29] #472 closed

[2020-08-09 13:12] phadej opened #474 "`network` build fails"
[code]

and the log says

[code]

[2020-08-09 13:14] phadej commented on #474
This might be `cabal-install-3.4` issue though.

[2020-08-09 13:24] phadej opened #475 "network-3.1.2.0 uses TypeApplications, which makes it fail to compile with GHCs pre-8."
Please add

[code]

to cabal file or remove use of `TypeApplications`.

[2020-08-09 14:19] phadej commented on #474
This is not network issue.

[2020-08-09 14:19] #474 closed

[2020-08-09 19:38] jneira opened #476 "Please, keep support for ghc 8.6 until we have a reliable enough version for windows"
Hi, [recently i've learnt](https://twitter.com/phadej/status/1292452259503235072) this package only keep support for three ghc major versions. So when 9.1.0 is released support for 8.6 will be dropped.
However, last ghc versions, especially 8.8, have had some serious problems in the windows platform. Thanks to the windows haskell hackers they are being fixed but even the 8.8.4 version is throwing

[2020-08-11 11:58] cartazio commented on #476
If nothing else, I’m still using 8.6.5 because the bug fix release for 8.10 only landed this week.

[2020-08-11 11:59] cartazio commented on #476
Mind you, I’m not on Windows. Just didn’t see anything I wanted to use in 8.8

[2020-08-11 21:29] felixonmars opened #479 "Tests failed when localhost:8080 is open"
[code]

Perhaps we can choose a less well known port or perhaps skip it when the port is open?

[2020-08-12 01:42] kazu-yamamoto commented on #476
I think that `network` carefully supports all GHC 8.x currently. We don't have strong reason to drop even GHC 8.0.

[2020-08-12 01:43] kazu-yamamoto commented on #475
I don't understand why `other-extensions:` is necessary. We don't support GHC 7.x anymore.

[2020-08-12 02:09] kazu-yamamoto opened #480 "doctest-extract"
If it is released, let's try it.

[2020-08-12 17:01] cartazio commented on #476
Ok cool!
Might be good to amend the readme! Currently it mentions the three release policy from eons ago

[2020-08-13 02:12] kazu-yamamoto commented on #476
Done yesterday.

[2020-08-13 02:12] #476 closed

[2020-08-13 02:14] kazu-yamamoto commented on #479
We should chose a port number randomly. Let me think.

[2020-08-13 16:00] cartazio commented on #476
Cool!  The phrasing still starts with the three release policy in your edit of the readme.  So right now, at least for me, it’s confusing because it now is more ambiguous ;) or self contradictory?

Maybe “historically, network has only supported the three most recent stable ghc releases.  At present it supports the entire 8.x series and will for the foreseeable future until there’s good reason not

[2020-08-14 05:30] kazu-yamamoto commented on #476
We have the three release policy. If there will be a strong reason, we will drop support of the old GHCs. But we are trying to support versions of GHCs as many as possible.

[2020-08-14 11:21] RyanGlScott commented on #475
I've run into this issue as well. To be clear, this results in failing build plans involving `network-3.1.2.0` on GHC 7.10.3 and 7.8.4. An example of this breaking a CI build can be found [here](https://travis-ci.org/github/ku-fpg/blank-canvas/jobs/717787330#L1187):

[code]

The issue is that `network-3.1.2.0` happily allows build plans with GHC 7.8.4 and 7.10.3 due to the lower bounds on `base (`

[2020-08-18 01:19] kazu-yamamoto commented on #475
#473 has been already merged. Is that good enough?

[2020-08-18 01:21] RyanGlScott commented on #475
It would be good enough for me, at least. However, those changes are not yet on Hackage, so as things currently stand, `network-3.1.2.0` is still broken for me on 7.8 and 7.10.

[2020-08-18 01:25] kazu-yamamoto commented on #475
I have modified the metadata on hackage. Now resolved?

[2020-08-18 01:42] RyanGlScott commented on #475
That resolved my issues, yes. Many thanks!

[2020-08-18 01:55] kazu-yamamoto commented on #475
OK. Let's close. Thank you for letting us know this.

[2020-08-18 01:55] #475 closed

[2020-08-18 02:01] kazu-yamamoto commented on #479
Let's chose 8003 which is not assigned by IANA.

[2020-08-18 02:04] kazu-yamamoto commented on #479
Done. Thank you for the report!

[2020-08-18 02:04] #479 closed

[2020-08-19 10:45] schmittlauch commented on #444
just to give an estimate for when I'm going to do this: I hope to find time in October

[2020-09-09 05:17] thomasjm opened #481 "getAddrInfo fails to resolve hostnames in Alpine Linux"
I'm building a Haskell executable using Nix. It's dynamically linked to glibc. I copy the executable plus all of its dynamically linked dependencies into an Alpine Docker container, and then I find that hostname resolution fails to work. It doesn't segfault, it just returns `Network.Socket.getAddrInfo (...): does not exist (Name or service not known)`, even for hostnames like `localhost`.

My issu

[2020-09-18 06:31] kazu-yamamoto opened #483 "Releasing v3.1.2.1"
@eborden Would you release v3.1.2.1 because of #478?

[2020-09-22 15:00] eborden commented on #483
Just getting back from some time off. I'll take a look at this today.

[2020-09-23 01:04] newhoggy opened #484 "socketPair function is missing in Network.Socket from version 3.1.2.0 for Windows only"
This function function existed in `network-3.1.1.1` for Windows.

I was wondering if its removal on Windows only is intentional.

[2020-09-23 01:11] newhoggy commented on #484
I can see this `CPP` was added:

[code]

Looks like a breaking API change.  I'd suggest this kind of change ought to require a major version bump to `3.2` even if it only affects one platform.

[2020-09-23 01:25] kazu-yamamoto commented on #483
We need to fix #484.

[2020-09-23 01:31] kazu-yamamoto commented on #484
We should get back backward compatiblity in v3.2.1.0.
Is it OK that `socketPair` just throws an exception on Windows?

[2020-09-23 01:35] newhoggy commented on #484
That works for our purposes.

[2020-09-23 05:30] kazu-yamamoto commented on #484
@newhoggy Since I don't have Windows, may I ask you to create a fix by yourself and send a PR?

[2020-09-23 06:59] newhoggy commented on #484
Sure.

Although going forward, it might be a good idea to have Windows as part of CI so people without Windows can verify their changes still build and test.

Github Actions supports Windows, so it's quite viable.  With `cabal-cache` you even get good caching of the cabal store.  All you'd need is an S3 bucket which is really cheap to operate.

https://github.com/haskell-works/cabal-cache/runs/114

[2020-09-24 00:17] newhoggy opened #487 "network-3.1.2.0 fails to build on ghc-8.8.3 on Windows"
See https://github.com/haskell-works/network/pull/2/checks?check_run_id=1157841677

Also there is a PR https://github.com/haskell/network/pull/486 to enable Github Workflows for the project which gets you Windows and MacOS Builds as well to catch these kinds of errors.

There is an exclusion for `ghc-8.8.3` on Windows, in the workflow that can be removed once it is fixed.

[2020-09-24 00:43] newhoggy commented on #484
Actually, `cabal-cache` is not necessary because `network` actually has very few dependencies that need to be cached.

I have a PR to add Github Workflow so that you can have Windows builds in CI, which should help with the maintenance on this platform: https://github.com/haskell-works/network/pull/2

I also have a PR to restore the missing functions in the latest release: https://github.com/haske

[2020-11-26 00:57] kazu-yamamoto commented on #483
@eborden I will relaese v3.1.2.1 by myself.

[2020-11-26 01:10] kazu-yamamoto commented on #483
Released.

[2020-11-26 01:10] #483 closed

[2020-12-03 00:33] kazu-yamamoto commented on #484
Let's close this.

[2020-12-03 00:33] #484 closed

[2020-12-14 21:49] domenkozar opened #493 "Network.Socket.accept: resource exhausted (Too many open files)"
The following error blocks the whole warp application, which is quite unfortunate as I think it could recover from the error by just not creating new sockets.

Not sure if that's a problem in warp or network.

[2020-12-15 01:43] kazu-yamamoto commented on #493
Please look into your OS settings. I wrote a guide in Japanese some years ago. I hope translation works well.

https://www.iij.ad.jp/dev/tech/activities/weighttp/

[2020-12-15 08:57] domenkozar commented on #493
To be clear: I know that the fix is to raise number of open files allowed.

But I'd like my server to not stop accepting new requests once the limit is not reached anymore.

[2020-12-15 09:27] kazu-yamamoto commented on #493
Do you mean that `accept` causes this error even after some file descriptors are closed?

[2020-12-15 09:35] domenkozar commented on #493
For some reason it stops accepting new connections.

[2020-12-17 06:50] kazu-yamamoto commented on #493
Let's move to the upstream.

[2020-12-17 06:51] #493 closed

[2020-12-24 22:19] thomasjm commented on #481
I'm going to close this -- I'm not sure what my problem was, but copying Nix-built artifacts onto an Alpine image turned out to be unnecessary anyway.

[2020-12-24 22:19] #481 closed

[2020-12-30 15:52] phadej commented on #487
The run referenced doesn't exist anymore.

[2020-12-31 03:35] newhoggy commented on #487
I've triggered another run here: https://github.com/haskell-works/network/pull/2/checks?check_run_id=1628583286

[2020-12-31 07:40] phadej commented on #487
Can you try with GHC-8.10.3 (or GHC-8.10.2.2 from choco). GHC-8.8 is known to be broken on Windows. (for many reasons).

[2020-12-31 07:40] phadej commented on #487
Also it's not clear from that output what's wrong. Can you make the build `-v -j1`

[2021-01-20 22:32] taurrbond opened #495 "KSK"

[2021-02-11 11:36] swamp-agr commented on #438
I could confirm such behaviour in our case with `network-3.1.2.1` and `warp-3.3.14` with both zero and non-zero `setGracefulCloseTimeout1` setting.

[2021-02-11 15:52] swamp-agr commented on #438
I have captured a small subset of TCP packets, I think, I should capture a bit longer and provide another example with TCP sessions for `CLOSE_WAIT` cases.
Meantime:

[code]

For the (`.61105`) case I expected subsequent `FIN` from Warp (`.8080`).
Rest two cases seems to be incompleted.

[2021-02-12 00:27] kazu-yamamoto commented on #438
@swamp-agr Do you use HTTP/1.1 on Linux?

If you specify 0 to `setGracefulCloseTimeout1`, `close(2)` is used. So, this is not related to graceful close. Actually, I never see `CLOSE_WAIT` on Linux with `network` 3.1.2.1 so far.

[2021-02-12 14:38] swamp-agr commented on #438
Hi @kazu-yamamoto,

- Our case is reproducing under `const 400+ rps` load after more than `7h` server uptime.
- We use `nginx-1.11.2` as a proxy with `keepalive` for upstream Warp. (In this case connections in `TIME_WAIT` state should be reused).
- Client is usually dropping connection after `3-5s` of waiting.
- AFAIK, we use `HTTP/1.1`. Despite that I will specifically add proxy `http/1.1` header

[2021-02-17 01:17] kazu-yamamoto commented on #438
@swamp-agr If you use Linux, please check `net.ipv4.tcp_fin_timeout`. The default value, 60 (second), might be too long for your use case. Also, please check `net.ipv4.tcp_tw_reuse`. This should be 1 for your case. The following settings for `/etc/sysctl.conf` would help:

[code]

[2021-02-17 01:19] kazu-yamamoto commented on #438
Note that `tcp_tw_recycle` would be also related. But this is a bit dangerous and was removed Linux 4.1.2.
Anyway, please look into these parameters.

[2021-02-17 18:27] swamp-agr commented on #438
Issue reproduced even with these values:

[code]

`tcp_tw_recycle` is indeed dangerous since enabling it make server suffers and drops connections. I think it is incompatible with NGINX `keepalive` setting for upstream server.

[2021-02-19 18:23] swamp-agr commented on #438
I think, the problem is not in `close` but in another place. I am not sure which one.
Please let me know if I should open new issue or move to `warp`.

Meantime I gathered two pictures (`server is up and running` and `sockets started to leak`).

- Server is up and running:
![normal_sockets](https://user-images.githubusercontent.com/6595049/108544712-eb979300-72f7-11eb-94dc-9d68d2696cc7.gif)

- Lea

[2021-02-19 22:54] kazu-yamamoto commented on #438
@swamp-agr If you believe this is a bug of Warp, please send this issue to Warp.

[2021-02-20 14:09] swamp-agr commented on #438
- Root cause found inside application code (as usual).
- Handlers were running indefinitely. It causes warp to wait endlessly.
- Client dropped connection.
- NGINX closed socket from its side.
- Warp still waits for application handler.

**Expected Result**: Application handler should finish its job. Warp should respond with `close`.
**Acutal Result**: Application never stopped. Warp is waiting.

[2021-02-24 05:13] kazu-yamamoto commented on #438
@swamp-agr I close this issue. Please bring this issue to Warp.

[2021-02-24 05:13] #438 closed

[2021-03-18 16:22] amigalemming commented on #480
released

[2021-03-18 16:27] amigalemming opened #496 "getNameInfo: how are Bool arguments and Maybe results related?"
I do not understand the warranties, `getNameInfo` makes about its results.
If an argument is `False`, does this mean that the corresponding result is always `Nothing`?
Likewise, if an argument is `True`, does this mean that the corresponding result is always `Just`?

[2021-04-16 00:54] #495 closed

[2021-04-16 00:55] kazu-yamamoto commented on #480
I tried `doctest-extract-0.1` with several command line arguments but no tests started. Would you tell me how to use it for `network`?

[2021-04-16 01:07] amigalemming commented on #480
On Thu, 15 Apr 2021, Kazu Yamamoto wrote:

doctest-extract really only extracts doctest tests to module files. You
must manually declare a test-suite in Cabal. You must run doctest-extract
yourself, e.g. in a Makefile. You may watch a working doctest-extract
setup e.g. in the package utility-ht.

[2021-05-13 15:23] cartazio opened #497 "network 3.1.2.1 doesn't build with ghc 8.10.4 on OSX"
[code]

cc @emilypi @emilypi @kazu-yamamoto

[2021-05-13 15:32] cartazio commented on #497
nevermind, hackage-head with older than head ghc strikes again :)

[2021-05-13 15:32] #497 closed

[2021-05-18 21:50] eborden commented on #487
@newhoggy are you still having these issues?

[2021-05-18 21:51] eborden commented on #480
@kazu-yamamoto are you still interested in pursuing this issue?

[2021-06-15 00:31] peterbecich opened #500 "network 3.1.2.1, 3.1.2.2 fail to build with GHC 8.10.5 on Mac OS Catalina"
[code]
The build stalls on the last step.

[code]

Build is successful with GHC 8.10.4.

Is it `configure: WARNING: unrecognized options: --with-compiler`?

Thank you

[2021-06-15 03:01] peterbecich commented on #487
Is this the same issue?

[code]
https://github.com/peterbecich/network/runs/2825581836?check_suite_focus=true

Thanks

[2021-06-15 15:59] larskuhtz commented on #500
I can confirm this behavior. Building network-3.1.2.1 with GHC-8.10.5 on Github actions runner with macOS-latest hangs.

[code]

[code]

[2021-06-15 16:43] larskuhtz commented on #500
This problem may be specific to Github actions. I was able to build network-3.1.2.2 on macOS Big Sur (Version 11.3) with GHC-8.10.5 on a laptop.

[2021-06-15 18:27] peterbecich commented on #500
Thanks @larskuhtz , I observe this behavior on Catalina:
[code]
I'm guessing your version of Clang must be at least 12.0.5: https://en.wikipedia.org/wiki/Xcode#Xcode_11.x_-_13.x_(since_SwiftUI_framework)_2 My version is 12.0.0.  Maybe that is the critical difference.

[2021-06-15 18:37] peterbecich commented on #500
No issue with GHC 9.0.1:
[code]
Success

[2021-06-15 18:52] peterbecich commented on #500
A little more information:
[code]

The version of `hsc2hs`:
[code]

[2021-06-15 19:15] larskuhtz commented on #500
yes, my laptop has 12.0.5:

[code]

[code]

[2021-06-15 21:12] kazu-yamamoto commented on #500
See https://gitlab.haskell.org/ghc/ghc/-/issues/19968

[2021-06-17 08:02] peterbecich commented on #500
https://github.com/haskell/network/issues/500#issuecomment-861834743
Thanks, I was unaware of this

[2021-06-22 00:41] kazu-yamamoto opened #502 "autoconf"
@Mistuke says:

autoconf 2.70+[1] have several backwards incompatible changes in them. Since msys2 follows Arch Linux's package philosophy it'll always be using bleeding edge. Because your github actions is installing msys2 fresh it'll get latest autoconf which is 2.71.

So it's not really a Windows issue, you can get the same error on Linux with a new enough autoconf. You should be able to fix it

[2021-06-22 00:52] kazu-yamamoto commented on #502
I'm using autoconf 2.71 on macOS but I cannot reproduce this.

[2021-06-22 01:18] kazu-yamamoto commented on #502
The error says:

`config.guess` and `config.sub` are contained in `.`.

The manual of `autoconfsa says:

I don't understand why `./config.guess` cannot be found.

[2021-06-22 03:47] kazu-yamamoto commented on #500
This is due to GHC. Let's close.

[2021-06-22 03:47] #500 closed

[2021-06-24 07:36] Mistuke commented on #502
Hmm I'll take a look this weekend.

[2021-06-30 21:17] LaurentRDC opened #505 "Missing (or bad) header file: HsNet.h"
I'm trying to build [`pandoc-plot`](https://github.com/LaurentRDC/pandoc-plot/actions), but on Windows I get the following error for network 3.1.2.2:

[code]

This is using stack 2.7.1 and the `nightly-2021-06-21` resolver (GHC 9.0.1).

[2021-07-07 09:21] complyue opened #506 "Fail building on SmartOS"
Seems related: https://github.com/joyent/libuv/issues/1195 fixed by https://github.com/joyent/libuv/commit/72337966d4a7cdd32b990b9618c4b2349c18042b

But I'm not sure where to put `-D_XOPEN_SOURCE=500` to workaround this?

[code]

[2021-07-07 10:42] complyue commented on #506
I think this is a regression:

https://github.com/haskell/network/pull/433/files#diff-4977bade46f19a34609d4fba8567cfbc94ab6b608492f9b6fa830e5912ed3a88L17-L18

Seems OpenSolaris compatibility is not implemented in that PR.

[2021-07-07 13:07] complyue commented on #506
I just drafted PR #507, it compiles in my case (on `SunOS swarmcc 5.11 joyent_20210617T001230Z i86pc i386 i86pc`), it appears OpenSolaris can supply the missing features, only if tweaked with certain CPP macros. But tbh I don't have enough expertise in justifying how it could impact others.

[2021-07-08 00:28] #506 closed

[2021-07-08 00:28] kazu-yamamoto commented on #502
@Mistuke Gentle ping

[2021-07-08 22:22] Mistuke commented on #502
So the problem is that `$PATH_SEPARATOR=":"` by default and cabal calls `configure` using:

[code]
Before this change in autoconf 2.70 this path would not have been split.  Sadly though not what happens is that it'll interpret the entries as `C/` and `/Users/tamar/source/repos/network`.

The upstream bug-report is https://savannah.gnu.org/support/index.php?110448 but unlikely to be fixed.

I have

[2021-07-08 22:24] Mistuke commented on #502
Setting `AC_CONFIG_AUX_DIR([$top_srcdir])` gives a cryptic error where it says

[code]

with no files.. this autoconf change is hopelessly broken..

[2021-07-14 00:26] LaurentRDC commented on #505
Hmm I think there was a clash between the Chocolatey-installed GHC and the stack-installed GHC on GitHub Actions specifically. Using `stack --system-ghc ...` fixed it.

[2021-07-14 00:26] #505 closed

[2021-07-25 15:08] Mistuke commented on #502
filed a bug with cabal, there's little that can be done in network. https://github.com/haskell/cabal/issues/7494

[2021-07-29 05:07] #502 closed

[2021-08-01 17:54] hasufell commented on #505
I seem to be having this on windows when running the stack integration test, which uses GHC-8.6.5.

What's the cause?

[2021-10-07 01:30] kazu-yamamoto opened #512 "Releasing 3.1.2.3"
- [ ] ver bumps up
- [ ] changelog
- [ ] configure.ac

[2021-10-07 01:39] kazu-yamamoto commented on #512
v3.1.2.3 has been released.

[2021-10-07 10:48] Mikolaj opened #513 "Edited: network-3.1.2.3 doesn't compile on Windows with cabal 3.4.0"
Please see https://github.com/haskell/cabal/issues/7707

[2021-10-07 11:09] hasufell commented on #513
I don't think it's acceptable to leave `3.4.0.0` broken. It's still the **recommended** version in ghcup, because 3.6.0.0 broke network package and I'll leave it as recommended for a while, until I'm confident it doesn't break again.

[2021-10-07 11:52] Mistuke commented on #513
Sure, but while this stance looks and sounds reasonable on the surface, it's far from practical. cabal 3.4 will simply not work with any `configure` file generated on autoconf >= 2.70.  While you are focusing on network here, *any* package, including public and private ones will not work with cabal 3.4.

For `network` @kazu-yamamoto can fix it by making the release on a system with `autoconf <= 2.

[2021-10-07 22:43] #513 closed, assigned to nobody

[2021-11-11 03:19] goldfirere opened #518 "network-3.1.2.5 not building on MacOS Big Sur"
I can't seem to build network-3.1.2.5; the build hangs in the preprocessing stage. Here is my output:

<details>

[code]

</details>

Note the `^C` about halfway down. The build hung (I waited maybe a minute, with no signs of life), and so I pressed Ctrl+C. Then, all the output we see afterwards appears.

I have no idea how to begin debugging this, but I'm happy to help by offering further informa

[2021-11-11 04:23] kazu-yamamoto commented on #518
Since I switched to Monterey, I don't have Big Sur anymore. But I am/was able to built `network` both on Monterey and BIg Sur.

[2021-11-11 18:52] goldfirere commented on #518
Thanks, @kazu-yamamoto. Do you (or anyone else) have any suggestions for where I can look to learn more? I have no clue why this would hang. It appears that the hanging happens in `hsc2hs`, but I'm not sure.

[2021-11-11 22:47] kazu-yamamoto commented on #518
I don't know why you are using `/Library/Developer/CommandLineTools/usr/bin/gcc`.  I'm using `/usr/bin/gcc`. Do you install the right version of Xcode for your macOS?

FYI: If I remember correctly, I did `xcode-select --install`.

[2021-11-12 02:44] goldfirere commented on #518
I've done `xcode-select --install` a number of times, along with various other well- and ill-advised things to get my machine working. I don't know why I had `/Library/Developer/CommandLineTools/usr/bin` in my `PATH`. I've fixed this, and now using /usr/bin/gcc, I get the same result. :(

Thanks for the suggestion!

[2021-11-22 20:08] goldfirere commented on #518
This works on ghc-9.2.1. I have not tried other GHCs in the 8.10 series.

[2021-11-22 20:11] goldfirere commented on #518
And it works for 8.10.7. Must have been some GHC/Mac strangeness. Closing.

Many thanks for the attempt to help, @kazu-yamamoto!

[2021-11-22 20:11] #518 closed

[2021-12-24 05:01] kazu-yamamoto opened #519 "IP_PKTINFO"
On Unix:

[code]

On Windows:

[code]

This difference makes cross-platform usage impossible.

On Unix, `in_pktinfo` is defined as follows:

[code]

[2021-12-24 05:02] kazu-yamamoto commented on #519
- Would you tell me the definition of `struct in_pktinfo` on Windows?
- Can we replace `ULONG` with `Int`?

[2021-12-24 23:00] Mistuke commented on #519
Definition is

[code]

Windows is IL32P64 so this `ULONG` is `32-bits`. however you have the signed vs unsigned mismatch here.  I guess it *could* be `Int` as you probably won't have more than 2^30 interfaces assuming they are numbered sequentially.

[2021-12-28 21:23] tomjaguarpaw opened #520 "Does sendAll really throw exception on error?"
The Haddock for `sendAll` claims "On error,  an exception is raised". But I don't see any exception in the below code. `when` there is no error `(send >= 0)` we continue `sendAll`ing, but what if there is an error (`send == -1`)? I don't see anything that responds to that case.

I am far from expert in systems programming, so I may be missing something trivial.

[code]

https://github.com/haskell/

[2021-12-28 23:21] rolsdorph commented on #520
Hi! That's not actually the `send` syscall - it's a custom wrapper that will throw an exception instead of returning -1.

Specifically, it's the send function [a bit above, in the same file](https://github.com/haskell/network/blob/master/Network/Socket/ByteString/IO.hsc#L80), which in turn calls [sendBuf](https://github.com/haskell/network/blob/87bd969bb39e91292f0c1e1a1b2f29333145eb80/Network/Sock

[2021-12-29 09:15] tomjaguarpaw commented on #520
That's great, thank you for tracing that. I guess my question becomes "Why are we checking `sent >= 0`? Isn't that always true?

[2022-01-04 06:33] kazu-yamamoto commented on #520
@tomjaguarpaw Yeah, it's over-protected.

[2022-01-04 13:39] tomjaguarpaw commented on #520
Any chance that over-protection could be removed, or at least commented? The over-protection makes it hard for a new reader to understand the code, and socket programming is hard enough already ...

[2022-01-07 00:50] kazu-yamamoto commented on #520
@tomjaguarpaw PR is welcome. Note that we should stop calling `send` if `sent` is 0.

[2022-01-09 19:51] tomjaguarpaw commented on #520
OK, thanks. In principle I intend to submit a PR. In practice I'm not sure when I'll get to it.

[2022-01-09 19:51] #520 closed

[2022-01-18 01:51] kazu-yamamoto commented on #496
I'm not the original author. But the code says that your two assumptions are yes.

[2022-01-18 09:23] amigalemming commented on #496
On Mon, 17 Jan 2022, Kazu Yamamoto wrote:

In this case I propose we have a variant of getNameInfo that expresses
these assumptions in types. E.g.

getNameInfo ::
     (Option f, Option g) =>
     [NameInfoFlag] -> SockAddr -> IO (f HostName, g ServiceName)

class Option f where
instance Option Identity where
instance Option Ignore where

data Ignore a = Ignore  -- isomorphic to Proxy

[2022-01-18 23:35] #519 closed

[2022-01-18 23:46] kazu-yamamoto commented on #496
I agree with you. We should define variants, for instance, `getAddrInformation` and `getNameInformation` which are clean for error codes.

[2022-01-20 11:05] hasufell opened #523 "network-3.1.2.6 does not compile on windows (again)"
* https://github.com/haskell/network/issues/502
* https://github.com/haskell/network/pull/508
* https://github.com/haskell/network/pull/516

That's why I rewrote the CI to autogenerate dist tarballs with the correct autoconf. But this tarball wasn't uploaded to hackage. So network is broken on windows again: https://github.com/haskell/cabal/runs/4880328675?check_suite_focus=true#step:7:6893

The d

[2022-01-20 12:47] kazu-yamamoto commented on #523
Sorry for my mistake. So, is the correct release procedure as follows?

- Push final commit to github
- Download dist-tarball from github
- Upload it to hackage

[2022-01-20 12:54] hasufell commented on #523
Yeah... the artifacts are a little hidden. I could also provide a PR that creates an actual release draft via CI and attaches the dist-tarball. Not sure that's better though.

[2022-01-20 13:33] kazu-yamamoto commented on #523
I have uploaded 2.1.2.7 and deprecated 2.1.2.6.

[2022-01-20 13:37] hasufell commented on #523
[code]

Looks good. @Mikolaj can you retry the windows build on cabal?

[2022-01-20 13:51] Mikolaj commented on #523
It seems 3.1.2.7 is deprecated.

[2022-01-20 13:56] kazu-yamamoto commented on #523
My mistake again. I have fixed it.

[2022-01-20 14:19] Mikolaj commented on #523
It compiles fine. Thank you!

[2022-01-20 14:26] kazu-yamamoto commented on #523
Sorry for your inconvenience and thanks you for pointing this out.

[2022-02-07 23:18] nyxnor opened #525 "add SOCKS5-hostname proxy"
The hostname must be resolved by the proxy for .onion domains, else it will fail to connect and leak DNS requests.

Can this be added to this network stack?

[Tor-Friendly-Applications-Best-Practices](https://gitlab.torproject.org/tpo/applications/team/-/wikis/Tor-Friendly-Applications-Best-Practices)

[2022-02-08 02:24] kazu-yamamoto commented on #525
The `network` package is a low level library. I think that SOCKS stuff should go to the `socks` package.

[2022-02-08 11:26] nyxnor commented on #525
Which repo would that be please? This [socks](https://hackage.haskell.org/package/socks) package ([git](https://github.com/vincenthz/hs-socks/pulls)) seems to be have stopped 2019.

[2022-02-10 02:42] kazu-yamamoto commented on #525
Yes, that repo. If you have motivation for SOCKS, I think you could ask the author of `socks` to transfer it to you.

[2022-04-04 00:19] Vlix opened #526 "Add MSG_DONTWAIT MessageFlag (or "how to detect if the connection is closed by the client")"
Would it be possible to implement `MSG_DONTWAIT` to the `MessageFlag`s?

The idea being to make a function that can check a socket to see if it's been closed from the client/other side?
[[The idea to be implemented](http://stefan.buettcher.org/cs/conn_closed.html)]

[2022-04-04 08:30] kazu-yamamoto commented on #526
You can define it by yourself. Use `MsgFlag` + an integer.

[2022-04-14 22:50] Vlix commented on #526
Good to know

[2022-04-14 22:50] #526 closed

[2022-04-15 03:17] kazu-yamamoto commented on #526
If you think that it is useful to provide `MSG_DONTWAIT` by default, PR is welcome!

[2022-04-17 02:03] stla opened #528 "Cannot install 3.1.1.1 on Windows"
Hello,

I've just spent a couple of hours trying to install network on Windows, with no luck:

[code]

In fact this is for my Hakyll blog. Previously I worked on Linux and this worked fine, but now my Linux laptop is broken, so I tried to install on Windows. I'm using stack with the resolver lts-16.18.

[2022-04-20 04:57] yaitskov commented on #467
https://github.com/haskell/network/pull/529

[2022-04-20 18:10] yaitskov opened #530 "custom nix version"
Hi,

I am trying to use network library from a git branch in my nix project.
callCabal2nix and callPackage functions complain about missing autotools configuration with copy-pasted nix derivation form nixpkgs repository.
Adding autoreconfHook runs configuration but then build fails due missing Makefile template.
Probably I could go futher, but I guess I missed something earlier.

[2022-04-20 22:07] yaitskov commented on #530
I found that following overlay is working:

[code]

[2022-04-20 22:07] #530 closed

[2022-04-22 22:58] Vlix commented on #526
I don't know which number I'd have to use for `MSG_DONTWAIT`, but if you can just make your own `MsgFlag`s if you know the `CInt` it's probably not necessary to add it. I think.

[2022-05-01 07:11] juhp opened #531 "Failed to build network-3.1.2.7 with ghc-8.10 (and ghc-9.0) on Linux"
I have been running into this error while trying to build for example cabal-install-3.4.1 using cabal-install-3.2.
Unfortunately not much information is available (that might be a Cabal/ghc issue?):

https://download.copr.fedorainfracloud.org/results/petersen/cabal-install-3.4/fedora-rawhide-x86_64/04351722-cabal-install/

[code]
Is this a known issue or is there a workaround (I could try building

[2022-05-01 07:41] juhp commented on #531
Sorry I guess this is something else

[2022-05-01 07:41] #531 closed

[2022-08-23 14:03] yobson opened #536 "Will not build without msghdr.msg_control"
I'm trying to boostrap cabal 3.6.2.0 on OmniOS and it is failing to build the network package

[code]

What's interesting is that it checks weather msghdr has the msg_control member, and correctly determines that it doesn't, but then continues assuming that it's there.

Should it fail on configure? Or should it build differently? Also, is this a failure on the part of cabal?

## EDIT: Investigatio

[2022-08-24 02:00] kazu-yamamoto commented on #536
Please send a PR.

[2022-08-24 04:35] kazu-yamamoto commented on #536
The PR should be sent after #535 is resolved. I don't want to modify the same part with two ways at the same time.

[2022-09-02 08:04] yobson commented on #536
I've tested with a newer version of the network package and it is resolved already!

[2022-09-02 08:04] #536 closed